/* ----------------------------------------------------
   created with http://www.codeandweb.com/texturepacker 
   ----------------------------------------------------
   $TexturePacker:SmartUpdate:9931ae7ba8fb84921ebf34e2fbd3f1d8:1f94eea1e458c2be49b487138d02c45c:1e9ea531edb030fd06c741d8d5dec72b$
   ----------------------------------------------------

   usage: <span class="{-spritename-} sprite"></span>

   replace {-spritename-} with the sprite you like to use

*/

.sprite {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url(../img/sprite.png);}

.aircraftengine {width:32px; height:32px; background-position: -0px -0px}
.aircraftinterior {width:32px; height:32px; background-position: -32px -0px}
.airplan {width:32px; height:32px; background-position: -64px -0px}
.alarm {width:32px; height:32px; background-position: -96px -0px}
.alcohol {width:32px; height:32px; background-position: -128px -0px}
.alcu {width:32px; height:32px; background-position: -160px -0px}
.aluminium {width:32px; height:32px; background-position: -192px -0px}
.animalfarm {width:32px; height:32px; background-position: -224px -0px}
.animalfeed {width:32px; height:32px; background-position: -0px -32px}
.animalfeed2 {width:32px; height:32px; background-position: -32px -32px}
.antifreeze {width:32px; height:32px; background-position: -64px -32px}
.antiseptic {width:32px; height:32px; background-position: -96px -32px}
.antismok {width:32px; height:32px; background-position: -128px -32px}
.apiary {width:32px; height:32px; background-position: -160px -32px}
.arachis {width:32px; height:32px; background-position: -192px -32px}
.autoparts {width:32px; height:32px; background-position: -224px -32px}
.avionics {width:32px; height:32px; background-position: -0px -64px}
.b_tea {width:32px; height:32px; background-position: -32px -64px}
.babycarr {width:32px; height:32px; background-position: -64px -64px}
.babycarseat {width:32px; height:32px; background-position: -96px -64px}
.babyfood {width:32px; height:32px; background-position: -128px -64px}
.babymonitor {width:32px; height:32px; background-position: -160px -64px}
.bags {width:32px; height:32px; background-position: -192px -64px}
.battery {width:32px; height:32px; background-position: -224px -64px}
.bauxite {width:32px; height:32px; background-position: -0px -96px}
.bee {width:32px; height:32px; background-position: -32px -96px}
.beer {width:32px; height:32px; background-position: -64px -96px}
.bicycle {width:32px; height:32px; background-position: -96px -96px}
.bigwatches {width:32px; height:32px; background-position: -128px -96px}
.bijouterie {width:32px; height:32px; background-position: -160px -96px}
.boiler {width:32px; height:32px; background-position: -192px -96px}
.book {width:32px; height:32px; background-position: -224px -96px}
.boots {width:32px; height:32px; background-position: -0px -128px}
.bourbon {width:32px; height:32px; background-position: -32px -128px}
.bread {width:32px; height:32px; background-position: -64px -128px}
.brilliant {width:32px; height:32px; background-position: -96px -128px}
.bronzedec {width:32px; height:32px; background-position: -128px -128px}
.butter {width:32px; height:32px; background-position: -160px -128px}
.cacao {width:32px; height:32px; background-position: -192px -128px}
.camera {width:32px; height:32px; background-position: -224px -128px}
.can {width:32px; height:32px; background-position: -0px -160px}
.cannedcorn {width:32px; height:32px; background-position: -32px -160px}
.cannedolives {width:32px; height:32px; background-position: -64px -160px}
.cap {width:32px; height:32px; background-position: -96px -160px}
.car {width:32px; height:32px; background-position: -128px -160px}
.car_doors {width:32px; height:32px; background-position: -160px -160px}
.car_sedan {width:32px; height:32px; background-position: -192px -160px}
.car_sport {width:32px; height:32px; background-position: -224px -160px}
.car_suv {width:32px; height:32px; background-position: -0px -192px}
.carbon {width:32px; height:32px; background-position: -32px -192px}
.carpet {width:32px; height:32px; background-position: -64px -192px}
.caviar {width:32px; height:32px; background-position: -96px -192px}
.cellularphone {width:32px; height:32px; background-position: -128px -192px}
.ceramic {width:32px; height:32px; background-position: -160px -192px}
.chassis {width:32px; height:32px; background-position: -192px -192px}
.cheese {width:32px; height:32px; background-position: -224px -192px}
.chemicals {width:32px; height:32px; background-position: -0px -224px}
.chicken {width:32px; height:32px; background-position: -32px -224px}
.chips {width:32px; height:32px; background-position: -64px -224px}
.chocolate {width:32px; height:32px; background-position: -96px -224px}
.cigar {width:32px; height:32px; background-position: -128px -224px}
.cigarette {width:32px; height:32px; background-position: -160px -224px}
.clay {width:32px; height:32px; background-position: -192px -224px}
.clothes {width:32px; height:32px; background-position: -224px -224px}
.coal {width:32px; height:32px; background-position: -0px -256px}
.coal_fired {width:32px; height:32px; background-position: -32px -256px}
.coal_mill {width:32px; height:32px; background-position: -64px -256px}
.coal_power {width:32px; height:32px; background-position: -96px -256px}
.coat {width:32px; height:32px; background-position: -128px -256px}
.codfish {width:32px; height:32px; background-position: -160px -256px}
.codliver {width:32px; height:32px; background-position: -192px -256px}
.codliveroil {width:32px; height:32px; background-position: -224px -256px}
.coffee {width:32px; height:32px; background-position: -0px -288px}
.coffeemachine {width:32px; height:32px; background-position: -32px -288px}
.colch {width:32px; height:32px; background-position: -64px -288px}
.comp_accessories {width:32px; height:32px; background-position: -96px -288px}
.components {width:32px; height:32px; background-position: -128px -288px}
.computer {width:32px; height:32px; background-position: -160px -288px}
.condition {width:32px; height:32px; background-position: -192px -288px}
.console {width:32px; height:32px; background-position: -224px -288px}
.consumerelectronics {width:32px; height:32px; background-position: -0px -320px}
.cookers {width:32px; height:32px; background-position: -32px -320px}
.cookies {width:32px; height:32px; background-position: -64px -320px}
.corn2 {width:32px; height:32px; background-position: -96px -320px}
.cornflakes {width:32px; height:32px; background-position: -128px -320px}
.cornmeal {width:32px; height:32px; background-position: -160px -320px}
.cosm_masks {width:32px; height:32px; background-position: -192px -320px}
.cosmetics {width:32px; height:32px; background-position: -224px -320px}
.cott_waste {width:32px; height:32px; background-position: -0px -352px}
.cotton {width:32px; height:32px; background-position: -32px -352px}
.cow {width:32px; height:32px; background-position: -64px -352px}
.cr {width:32px; height:32px; background-position: -96px -352px}
.crabs {width:32px; height:32px; background-position: -128px -352px}
.crawlers {width:32px; height:32px; background-position: -160px -352px}
.crib {width:32px; height:32px; background-position: -192px -352px}
.cu {width:32px; height:32px; background-position: -224px -352px}
.dairyproducts {width:32px; height:32px; background-position: -0px -384px}
.detergents {width:32px; height:32px; background-position: -32px -384px}
.device {width:32px; height:32px; background-position: -64px -384px}
.diamonds {width:32px; height:32px; background-position: -96px -384px}
.diapers {width:32px; height:32px; background-position: -128px -384px}
.diesel {width:32px; height:32px; background-position: -160px -384px}
.diesel_bio {width:32px; height:32px; background-position: -192px -384px}
.digital_camera {width:32px; height:32px; background-position: -224px -384px}
.digital_video {width:32px; height:32px; background-position: -0px -416px}
.dishes {width:32px; height:32px; background-position: -32px -416px}
.dishwashers {width:32px; height:32px; background-position: -64px -416px}
.dispenser {width:32px; height:32px; background-position: -96px -416px}
.dress {width:32px; height:32px; background-position: -128px -416px}
.drill {width:32px; height:32px; background-position: -160px -416px}
.ecar {width:32px; height:32px; background-position: -192px -416px}
.educationaltoys {width:32px; height:32px; background-position: -224px -416px}
.eggs {width:32px; height:32px; background-position: -0px -448px}
.electroniccomponents {width:32px; height:32px; background-position: -32px -448px}
.elmotor {width:32px; height:32px; background-position: -64px -448px}
.empennage {width:32px; height:32px; background-position: -96px -448px}
.energydrinks {width:32px; height:32px; background-position: -128px -448px}
.engine {width:32px; height:32px; background-position: -160px -448px}
.engineoil {width:32px; height:32px; background-position: -192px -448px}
.essence1 {width:32px; height:32px; background-position: -224px -448px}
.essence2 {width:32px; height:32px; background-position: -0px -480px}
.ethanol {width:32px; height:32px; background-position: -32px -480px}
.f_tea {width:32px; height:32px; background-position: -64px -480px}
.fabric {width:32px; height:32px; background-position: -96px -480px}
.fabric2 {width:32px; height:32px; background-position: -128px -480px}
.farm {width:32px; height:32px; background-position: -160px -480px}
.feedcrop {width:32px; height:32px; background-position: -192px -480px}
.feedstuff {width:32px; height:32px; background-position: -224px -480px}
.feta {width:32px; height:32px; background-position: -0px -512px}
.fiber {width:32px; height:32px; background-position: -32px -512px}
.fish {width:32px; height:32px; background-position: -64px -512px}
.fishcan {width:32px; height:32px; background-position: -96px -512px}
.fishdeli {width:32px; height:32px; background-position: -128px -512px}
.fishingbase {width:32px; height:32px; background-position: -160px -512px}
.fishmeal {width:32px; height:32px; background-position: -192px -512px}
.fishtrawler {width:32px; height:32px; background-position: -224px -512px}
.fitness {width:32px; height:32px; background-position: -0px -544px}
.flour {width:32px; height:32px; background-position: -32px -544px}
.flower {width:32px; height:32px; background-position: -64px -544px}
.football {width:32px; height:32px; background-position: -96px -544px}
.forged {width:32px; height:32px; background-position: -128px -544px}
.fries {width:32px; height:32px; background-position: -160px -544px}
.fruits {width:32px; height:32px; background-position: -192px -544px}
.fuel {width:32px; height:32px; background-position: -224px -544px}
.fuel_equipment {width:32px; height:32px; background-position: -0px -576px}
.furniture {width:32px; height:32px; background-position: -32px -576px}
.furniture2 {width:32px; height:32px; background-position: -64px -576px}
.fuselage {width:32px; height:32px; background-position: -96px -576px}
.g_tea {width:32px; height:32px; background-position: -128px -576px}
.gardengnome {width:32px; height:32px; background-position: -160px -576px}
.gardentools {width:32px; height:32px; background-position: -192px -576px}
.gas_cleaning {width:32px; height:32px; background-position: -224px -576px}
.gaswater {width:32px; height:32px; background-position: -0px -608px}
.gift {width:32px; height:32px; background-position: -32px -608px}
.glass {width:32px; height:32px; background-position: -64px -608px}
.gold {width:32px; height:32px; background-position: -96px -608px}
.gps {width:32px; height:32px; background-position: -128px -608px}
.grain {width:32px; height:32px; background-position: -160px -608px}
.grass_cutter {width:32px; height:32px; background-position: -192px -608px}
.grill {width:32px; height:32px; background-position: -224px -608px}
.hairdressing {width:32px; height:32px; background-position: -0px -640px}
.hairdrier {width:32px; height:32px; background-position: -32px -640px}
.heater {width:32px; height:32px; background-position: -64px -640px}
.heliostat {width:32px; height:32px; background-position: -96px -640px}
.herbs {width:32px; height:32px; background-position: -128px -640px}
.hobby {width:32px; height:32px; background-position: -160px -640px}
.honey {width:32px; height:32px; background-position: -192px -640px}
.honeycomb {width:32px; height:32px; background-position: -224px -640px}
.hoover {width:32px; height:32px; background-position: -0px -672px}
.hormonal {width:32px; height:32px; background-position: -32px -672px}
.householdappliances {width:32px; height:32px; background-position: -64px -672px}
.householdchemistry {width:32px; height:32px; background-position: -96px -672px}
.hygiene {width:32px; height:32px; background-position: -128px -672px}
.icecream {width:32px; height:32px; background-position: -160px -672px}
.ilmenite {width:32px; height:32px; background-position: -192px -672px}
.incinerator {width:32px; height:32px; background-position: -224px -672px}
.incinerator_power {width:32px; height:32px; background-position: -0px -704px}
.instant {width:32px; height:32px; background-position: -32px -704px}
.instantcoffee {width:32px; height:32px; background-position: -64px -704px}
.ipad {width:32px; height:32px; background-position: -96px -704px}
.iron {width:32px; height:32px; background-position: -128px -704px}
.ironore {width:32px; height:32px; background-position: -160px -704px}
.it_equipment {width:32px; height:32px; background-position: -192px -704px}
.jam {width:32px; height:32px; background-position: -224px -704px}
.jeans {width:32px; height:32px; background-position: -0px -736px}
.jewellery {width:32px; height:32px; background-position: -32px -736px}
.juice {width:32px; height:32px; background-position: -64px -736px}
.kindergarten {width:32px; height:32px; background-position: -96px -736px}
.kitchen {width:32px; height:32px; background-position: -128px -736px}
.knit {width:32px; height:32px; background-position: -160px -736px}
.lab {width:32px; height:32px; background-position: -192px -736px}
.laptop {width:32px; height:32px; background-position: -224px -736px}
.laundry {width:32px; height:32px; background-position: -0px -768px}
.leather {width:32px; height:32px; background-position: -32px -768px}
.leather_goods {width:32px; height:32px; background-position: -64px -768px}
.led {width:32px; height:32px; background-position: -96px -768px}
.ledlamp {width:32px; height:32px; background-position: -128px -768px}
.ledtv {width:32px; height:32px; background-position: -160px -768px}
.lego {width:32px; height:32px; background-position: -192px -768px}
.li_battery {width:32px; height:32px; background-position: -224px -768px}
.liqueur {width:32px; height:32px; background-position: -0px -800px}
.lithium {width:32px; height:32px; background-position: -32px -800px}
.machine {width:32px; height:32px; background-position: -64px -800px}
.masut {width:32px; height:32px; background-position: -96px -800px}
.masut_fired {width:32px; height:32px; background-position: -128px -800px}
.matrix {width:32px; height:32px; background-position: -160px -800px}
.meat {width:32px; height:32px; background-position: -192px -800px}
.medical_equipment {width:32px; height:32px; background-position: -224px -800px}
.medicine {width:32px; height:32px; background-position: -0px -832px}
.microprocessor {width:32px; height:32px; background-position: -32px -832px}
.milk {width:32px; height:32px; background-position: -64px -832px}
.mill {width:32px; height:32px; background-position: -96px -832px}
.mine {width:32px; height:32px; background-position: -128px -832px}
.minerals {width:32px; height:32px; background-position: -160px -832px}
.mirror {width:32px; height:32px; background-position: -192px -832px}
.mirror0 {width:32px; height:32px; background-position: -224px -832px}
.mixture {width:32px; height:32px; background-position: -0px -864px}
.mn {width:32px; height:32px; background-position: -32px -864px}
.motorcycle {width:32px; height:32px; background-position: -64px -864px}
.napery {width:32px; height:32px; background-position: -96px -864px}
.natur_ingredients {width:32px; height:32px; background-position: -128px -864px}
.networking {width:32px; height:32px; background-position: -160px -864px}
.noodles {width:32px; height:32px; background-position: -192px -864px}
.office {width:32px; height:32px; background-position: -224px -864px}
.oil {width:32px; height:32px; background-position: -0px -896px}
.oil_power {width:32px; height:32px; background-position: -32px -896px}
.oilpump {width:32px; height:32px; background-position: -64px -896px}
.olive {width:32px; height:32px; background-position: -96px -896px}
.oliveoil {width:32px; height:32px; background-position: -128px -896px}
.orchard {width:32px; height:32px; background-position: -160px -896px}
.oysters {width:32px; height:32px; background-position: -192px -896px}
.package {width:32px; height:32px; background-position: -224px -896px}
.paint {width:32px; height:32px; background-position: -0px -928px}
.pan {width:32px; height:32px; background-position: -32px -928px}
.paper {width:32px; height:32px; background-position: -64px -928px}
.paperboard {width:32px; height:32px; background-position: -96px -928px}
.pearljewelry {width:32px; height:32px; background-position: -128px -928px}
.pearls {width:32px; height:32px; background-position: -160px -928px}
.perfumery {width:32px; height:32px; background-position: -192px -928px}
.petrol_normal {width:32px; height:32px; background-position: -224px -928px}
.petrol_premium {width:32px; height:32px; background-position: -0px -960px}
.petrol_regular {width:32px; height:32px; background-position: -32px -960px}
.pig {width:32px; height:32px; background-position: -64px -960px}
.plastics {width:32px; height:32px; background-position: -96px -960px}
.polymetallic {width:32px; height:32px; background-position: -128px -960px}
.poncho {width:32px; height:32px; background-position: -160px -960px}
.potato {width:32px; height:32px; background-position: -192px -960px}
.press {width:32px; height:32px; background-position: -224px -960px}
.printer {width:32px; height:32px; background-position: -0px -992px}
.puer_tea {width:32px; height:32px; background-position: -32px -992px}
.pulsimeter {width:32px; height:32px; background-position: -64px -992px}
.pwtools {width:32px; height:32px; background-position: -96px -992px}
.readinglamp {width:32px; height:32px; background-position: -128px -992px}
.redcaviar {width:32px; height:32px; background-position: -160px -992px}
.refueling {width:32px; height:32px; background-position: -192px -992px}
.repair {width:32px; height:32px; background-position: -224px -992px}
.repairing {width:32px; height:32px; background-position: -0px -1024px}
.restaurant {width:32px; height:32px; background-position: -32px -1024px}
.rice {width:32px; height:32px; background-position: -64px -1024px}
.rims {width:32px; height:32px; background-position: -96px -1024px}
.rjelly {width:32px; height:32px; background-position: -128px -1024px}
.roastedcoffee {width:32px; height:32px; background-position: -160px -1024px}
.roof_rack {width:32px; height:32px; background-position: -192px -1024px}
.rubber {width:32px; height:32px; background-position: -224px -1024px}
.salmon {width:32px; height:32px; background-position: -0px -1056px}
.sanitaryware {width:32px; height:32px; background-position: -32px -1056px}
.sauce {width:32px; height:32px; background-position: -64px -1056px}
.sausages {width:32px; height:32px; background-position: -96px -1056px}
.saw {width:32px; height:32px; background-position: -128px -1056px}
.sawmill {width:32px; height:32px; background-position: -160px -1056px}
.scooter {width:32px; height:32px; background-position: -192px -1056px}
.screenwash {width:32px; height:32px; background-position: -224px -1056px}
.seine {width:32px; height:32px; background-position: -0px -1088px}
.server {width:32px; height:32px; background-position: -32px -1088px}
.shagreen {width:32px; height:32px; background-position: -64px -1088px}
.sheep {width:32px; height:32px; background-position: -96px -1088px}
.ship_body {width:32px; height:32px; background-position: -128px -1088px}
.shoes {width:32px; height:32px; background-position: -160px -1088px}
.shop {width:32px; height:32px; background-position: -192px -1088px}
.showercubicle {width:32px; height:32px; background-position: -224px -1088px}
.silicon {width:32px; height:32px; background-position: -0px -1120px}
.silk {width:32px; height:32px; background-position: -32px -1120px}
.smartphone {width:32px; height:32px; background-position: -64px -1120px}
.socks {width:32px; height:32px; background-position: -96px -1120px}
.sombrero {width:32px; height:32px; background-position: -128px -1120px}
.soybean {width:32px; height:35px; background-position: -160px -1120px}
.soysauce {width:32px; height:32px; background-position: -192px -1120px}
.spice {width:32px; height:32px; background-position: -224px -1120px}
.sportfood {width:32px; height:32px; background-position: -0px -1155px}
.stationery {width:32px; height:32px; background-position: -32px -1155px}
.steel {width:32px; height:32px; background-position: -64px -1155px}
.sturgeon {width:32px; height:32px; background-position: -96px -1155px}
.sugar {width:32px; height:32px; background-position: -128px -1155px}
.suit {width:32px; height:32px; background-position: -160px -1155px}
.sun_fired {width:32px; height:32px; background-position: -192px -1155px}
.sunflower {width:32px; height:32px; background-position: -224px -1155px}
.sweet {width:32px; height:32px; background-position: -0px -1187px}
.synth_ingredients {width:32px; height:32px; background-position: -32px -1187px}
.syntheticfabric {width:32px; height:32px; background-position: -64px -1187px}
.tablets {width:32px; height:32px; background-position: -96px -1187px}
.tea {width:32px; height:32px; background-position: -128px -1187px}
.teapot {width:32px; height:32px; background-position: -160px -1187px}
.teapot_sou {width:32px; height:32px; background-position: -192px -1187px}
.termo {width:32px; height:32px; background-position: -224px -1187px}
.thermometer {width:32px; height:32px; background-position: -0px -1219px}
.thermoplast {width:32px; height:32px; background-position: -32px -1219px}
.ti {width:32px; height:32px; background-position: -64px -1219px}
.tobacco {width:32px; height:32px; background-position: -96px -1219px}
.tofu {width:32px; height:32px; background-position: -128px -1219px}
.tomato {width:32px; height:32px; background-position: -160px -1219px}
.towel {width:32px; height:32px; background-position: -192px -1219px}
.toys {width:32px; height:32px; background-position: -224px -1219px}
.tractor {width:32px; height:32px; background-position: -0px -1251px}
.trainer {width:32px; height:32px; background-position: -32px -1251px}
.trash_equipment {width:32px; height:32px; background-position: -64px -1251px}
.turbine {width:32px; height:32px; background-position: -96px -1251px}
.tv {width:32px; height:32px; background-position: -128px -1251px}
.tyre {width:32px; height:32px; background-position: -160px -1251px}
.umbrella {width:32px; height:32px; background-position: -192px -1251px}
.underwear {width:32px; height:32px; background-position: -224px -1251px}
.usb {width:32px; height:32px; background-position: -0px -1283px}
.vegansoy {width:32px; height:32px; background-position: -32px -1283px}
.video {width:32px; height:32px; background-position: -64px -1283px}
.villa {width:32px; height:28px; background-position: -96px -1283px}
.virta.ico {width:16px; height:16px; background-position: -128px -1283px}
.warehouse {width:32px; height:32px; background-position: -144px -1283px}
.washer {width:32px; height:32px; background-position: -176px -1283px}
.watches {width:32px; height:32px; background-position: -208px -1283px}
.wax {width:32px; height:32px; background-position: -0px -1315px}
.wing {width:32px; height:32px; background-position: -32px -1315px}
.wood {width:32px; height:32px; background-position: -64px -1315px}
.wool {width:32px; height:32px; background-position: -96px -1315px}
.workshop {width:32px; height:32px; background-position: -128px -1315px}
.yacht {width:32px; height:32px; background-position: -160px -1315px}
.yacht_equipment {width:32px; height:32px; background-position: -192px -1315px}
.yacht_interior {width:32px; height:32px; background-position: -224px -1315px}
.zinc {width:32px; height:32px; background-position: -0px -1347px}
