/* ----------------------------------------------------
   created with http://www.codeandweb.com/texturepacker 
   ----------------------------------------------------
   $TexturePacker:SmartUpdate:9034db719fc37f8cdeb354fa98fa77a9:cea4a9d0521525708f6ec0a81d2f67d8:1e9ea531edb030fd06c741d8d5dec72b$
   ----------------------------------------------------

   usage: <span class="{-spritename-} sprite"></span>

   replace {-spritename-} with the sprite you like to use

*/

.sprite {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url(../img/sprite.png);}

.aircraftengine {width:32px; height:32px; background-position: -2px -2px}
.aircraftinterior {width:32px; height:32px; background-position: -2px -36px}
.airplan {width:32px; height:32px; background-position: -2px -70px}
.alcohol {width:32px; height:32px; background-position: -2px -104px}
.alcu {width:32px; height:32px; background-position: -2px -138px}
.aluminium {width:32px; height:32px; background-position: -36px -2px}
.animalfarm {width:32px; height:32px; background-position: -36px -36px}
.animalfeed {width:32px; height:32px; background-position: -36px -70px}
.animalfeed2 {width:32px; height:32px; background-position: -36px -104px}
.antifreeze {width:32px; height:32px; background-position: -36px -138px}
.antiseptic {width:32px; height:32px; background-position: -70px -2px}
.antismok {width:32px; height:32px; background-position: -70px -36px}
.arachis {width:32px; height:32px; background-position: -70px -70px}
.autoparts {width:32px; height:32px; background-position: -70px -104px}
.avionics {width:32px; height:32px; background-position: -70px -138px}
.bags {width:32px; height:32px; background-position: -104px -2px}
.bauxite {width:32px; height:32px; background-position: -104px -36px}
.beer {width:32px; height:32px; background-position: -104px -70px}
.bicycle {width:32px; height:32px; background-position: -104px -104px}
.bigwatches {width:32px; height:32px; background-position: -104px -138px}
.bijouterie {width:32px; height:32px; background-position: -138px -2px}
.boiler {width:32px; height:32px; background-position: -138px -36px}
.book {width:32px; height:32px; background-position: -138px -70px}
.bourbon {width:32px; height:32px; background-position: -138px -104px}
.bread {width:32px; height:32px; background-position: -138px -138px}
.brilliant {width:32px; height:32px; background-position: -172px -2px}
.bronzedec {width:32px; height:32px; background-position: -172px -36px}
.butter {width:32px; height:32px; background-position: -172px -70px}
.cacao {width:32px; height:32px; background-position: -172px -104px}
.camera {width:32px; height:32px; background-position: -172px -138px}
.can {width:32px; height:32px; background-position: -206px -2px}
.cannedcorn {width:32px; height:32px; background-position: -206px -36px}
.cannedolives {width:32px; height:32px; background-position: -206px -70px}
.cap {width:32px; height:32px; background-position: -206px -104px}
.car {width:32px; height:32px; background-position: -206px -138px}
.car_doors {width:32px; height:32px; background-position: -240px -2px}
.car_sedan {width:32px; height:32px; background-position: -240px -36px}
.car_sport {width:32px; height:32px; background-position: -240px -70px}
.car_suv {width:32px; height:32px; background-position: -240px -104px}
.carbon {width:32px; height:32px; background-position: -240px -138px}
.caviar {width:32px; height:32px; background-position: -274px -2px}
.cellularphone {width:32px; height:32px; background-position: -274px -36px}
.chassis {width:32px; height:32px; background-position: -274px -70px}
.cheese {width:32px; height:32px; background-position: -274px -104px}
.chemicals {width:32px; height:32px; background-position: -274px -138px}
.chicken {width:32px; height:32px; background-position: -308px -2px}
.chips {width:32px; height:32px; background-position: -308px -36px}
.chocolate {width:32px; height:32px; background-position: -308px -70px}
.cigar {width:32px; height:32px; background-position: -308px -104px}
.cigarette {width:32px; height:32px; background-position: -308px -138px}
.clay {width:32px; height:32px; background-position: -342px -2px}
.clothes {width:32px; height:32px; background-position: -342px -36px}
.coal {width:32px; height:32px; background-position: -342px -70px}
.coal_fired {width:32px; height:32px; background-position: -342px -104px}
.coal_mill {width:32px; height:32px; background-position: -342px -138px}
.coal_power {width:32px; height:32px; background-position: -376px -2px}
.coat {width:32px; height:32px; background-position: -376px -36px}
.coffee {width:32px; height:32px; background-position: -376px -70px}
.coffeemachine {width:32px; height:32px; background-position: -376px -104px}
.colch {width:32px; height:32px; background-position: -376px -138px}
.components {width:32px; height:32px; background-position: -410px -2px}
.computer {width:32px; height:32px; background-position: -410px -36px}
.condition {width:32px; height:32px; background-position: -410px -70px}
.consumerelectronics {width:32px; height:32px; background-position: -410px -104px}
.cookers {width:32px; height:32px; background-position: -410px -138px}
.cookies {width:32px; height:32px; background-position: -444px -2px}
.corn2 {width:32px; height:32px; background-position: -444px -36px}
.cornflakes {width:32px; height:32px; background-position: -444px -70px}
.cornmeal {width:32px; height:32px; background-position: -444px -104px}
.cosmetics {width:32px; height:32px; background-position: -444px -138px}
.cott_waste {width:32px; height:32px; background-position: -478px -2px}
.cotton {width:32px; height:32px; background-position: -478px -36px}
.cow {width:32px; height:32px; background-position: -478px -70px}
.cr {width:32px; height:32px; background-position: -478px -104px}
.crabs {width:32px; height:32px; background-position: -478px -138px}
.cu {width:32px; height:32px; background-position: -512px -2px}
.dairyproducts {width:32px; height:32px; background-position: -512px -36px}
.detergents {width:32px; height:32px; background-position: -512px -70px}
.device {width:32px; height:32px; background-position: -512px -104px}
.diamonds {width:32px; height:32px; background-position: -512px -138px}
.diesel {width:32px; height:32px; background-position: -546px -2px}
.dishes {width:32px; height:32px; background-position: -546px -36px}
.dishwashers {width:32px; height:32px; background-position: -546px -70px}
.dispenser {width:32px; height:32px; background-position: -546px -104px}
.dress {width:32px; height:32px; background-position: -546px -138px}
.drill {width:32px; height:32px; background-position: -580px -2px}
.eggs {width:32px; height:32px; background-position: -580px -36px}
.electroniccomponents {width:32px; height:32px; background-position: -580px -70px}
.elmotor {width:32px; height:32px; background-position: -580px -104px}
.empennage {width:32px; height:32px; background-position: -580px -138px}
.energydrinks {width:32px; height:32px; background-position: -614px -2px}
.engine {width:32px; height:32px; background-position: -614px -36px}
.engineoil {width:32px; height:32px; background-position: -614px -70px}
.essence1 {width:32px; height:32px; background-position: -614px -104px}
.essence2 {width:32px; height:32px; background-position: -614px -138px}
.ethanol {width:32px; height:32px; background-position: -648px -2px}
.fabric {width:32px; height:32px; background-position: -648px -36px}
.fabric2 {width:32px; height:32px; background-position: -648px -70px}
.farm {width:32px; height:32px; background-position: -648px -104px}
.feedcrop {width:32px; height:32px; background-position: -648px -138px}
.feedstuff {width:32px; height:32px; background-position: -682px -2px}
.feta {width:32px; height:32px; background-position: -682px -36px}
.fiber {width:32px; height:32px; background-position: -682px -70px}
.fish {width:32px; height:32px; background-position: -682px -104px}
.fishcan {width:32px; height:32px; background-position: -682px -138px}
.fishdeli {width:32px; height:32px; background-position: -716px -2px}
.fishingbase {width:32px; height:32px; background-position: -716px -36px}
.fishmeal {width:32px; height:32px; background-position: -716px -70px}
.fishtrawler {width:32px; height:32px; background-position: -716px -104px}
.fitness {width:32px; height:32px; background-position: -716px -138px}
.flour {width:32px; height:32px; background-position: -750px -2px}
.flower {width:32px; height:32px; background-position: -750px -36px}
.football {width:32px; height:32px; background-position: -750px -70px}
.fruits {width:32px; height:32px; background-position: -750px -104px}
.fuel_equipment {width:32px; height:32px; background-position: -750px -138px}
.furniture {width:32px; height:32px; background-position: -784px -2px}
.furniture2 {width:32px; height:32px; background-position: -784px -36px}
.fuselage {width:32px; height:32px; background-position: -784px -70px}
.gardengnome {width:32px; height:32px; background-position: -784px -104px}
.gardentools {width:32px; height:32px; background-position: -784px -138px}
.gas_cleaning {width:32px; height:32px; background-position: -818px -2px}
.gaswater {width:32px; height:32px; background-position: -818px -36px}
.gift {width:32px; height:32px; background-position: -818px -70px}
.glass {width:32px; height:32px; background-position: -818px -104px}
.gold {width:32px; height:32px; background-position: -818px -138px}
.gps {width:32px; height:32px; background-position: -852px -2px}
.grain {width:32px; height:32px; background-position: -852px -36px}
.grass_cutter {width:32px; height:32px; background-position: -852px -70px}
.hairdressing {width:32px; height:32px; background-position: -852px -104px}
.hairdrier {width:32px; height:32px; background-position: -852px -138px}
.heater {width:32px; height:32px; background-position: -886px -2px}
.herbs {width:32px; height:32px; background-position: -886px -36px}
.hoover {width:32px; height:32px; background-position: -886px -70px}
.hormonal {width:32px; height:32px; background-position: -886px -104px}
.householdappliances {width:32px; height:32px; background-position: -886px -138px}
.householdchemistry {width:32px; height:32px; background-position: -920px -2px}
.hygiene {width:32px; height:32px; background-position: -920px -36px}
.icecream {width:32px; height:32px; background-position: -920px -70px}
.ilmenite {width:32px; height:32px; background-position: -920px -104px}
.incinerator {width:32px; height:32px; background-position: -920px -138px}
.instant {width:32px; height:32px; background-position: -954px -2px}
.instantcoffee {width:32px; height:32px; background-position: -954px -36px}
.iron {width:32px; height:32px; background-position: -954px -70px}
.ironore {width:32px; height:32px; background-position: -954px -104px}
.jam {width:32px; height:32px; background-position: -954px -138px}
.jeans {width:32px; height:32px; background-position: -988px -2px}
.jewellery {width:32px; height:32px; background-position: -988px -36px}
.juice {width:32px; height:32px; background-position: -988px -70px}
.kitchen {width:32px; height:32px; background-position: -988px -104px}
.knit {width:32px; height:32px; background-position: -988px -138px}
.lab {width:32px; height:32px; background-position: -1022px -2px}
.laundry {width:32px; height:32px; background-position: -1022px -36px}
.leather {width:32px; height:32px; background-position: -1022px -70px}
.leather_goods {width:32px; height:32px; background-position: -1022px -104px}
.led {width:32px; height:32px; background-position: -1022px -138px}
.ledlamp {width:32px; height:32px; background-position: -1056px -2px}
.ledtv {width:32px; height:32px; background-position: -1056px -36px}
.liqueur {width:32px; height:32px; background-position: -1056px -70px}
.machine {width:32px; height:32px; background-position: -1056px -104px}
.masut {width:32px; height:32px; background-position: -1056px -138px}
.masut_fired {width:32px; height:32px; background-position: -1090px -2px}
.meat {width:32px; height:32px; background-position: -1090px -36px}
.medical_equipment {width:32px; height:32px; background-position: -1090px -70px}
.medicine {width:32px; height:32px; background-position: -1090px -104px}
.milk {width:32px; height:32px; background-position: -1090px -138px}
.mill {width:32px; height:32px; background-position: -1124px -2px}
.mine {width:32px; height:32px; background-position: -1124px -36px}
.minerals {width:32px; height:32px; background-position: -1124px -70px}
.mirror {width:32px; height:32px; background-position: -1124px -104px}
.mirror0 {width:32px; height:32px; background-position: -1124px -138px}
.mixture {width:32px; height:32px; background-position: -1158px -2px}
.mn {width:32px; height:32px; background-position: -1158px -36px}
.motorcycle {width:32px; height:32px; background-position: -1158px -70px}
.napery {width:32px; height:32px; background-position: -1158px -104px}
.natur_ingredients {width:32px; height:32px; background-position: -1158px -138px}
.noodles {width:32px; height:32px; background-position: -1192px -2px}
.office {width:32px; height:32px; background-position: -1192px -36px}
.oil {width:32px; height:32px; background-position: -1192px -70px}
.oilpump {width:32px; height:32px; background-position: -1192px -104px}
.olive {width:32px; height:32px; background-position: -1192px -138px}
.oliveoil {width:32px; height:32px; background-position: -1226px -2px}
.orchard {width:32px; height:32px; background-position: -1226px -36px}
.oysters {width:32px; height:32px; background-position: -1226px -70px}
.package {width:32px; height:32px; background-position: -1226px -104px}
.paint {width:32px; height:32px; background-position: -1226px -138px}
.paper {width:32px; height:32px; background-position: -1260px -2px}
.paperboard {width:32px; height:32px; background-position: -1260px -36px}
.pearljewelry {width:32px; height:32px; background-position: -1260px -70px}
.pearls {width:32px; height:32px; background-position: -1260px -104px}
.perfumery {width:32px; height:32px; background-position: -1260px -138px}
.petrol_normal {width:32px; height:32px; background-position: -1294px -2px}
.petrol_premium {width:32px; height:32px; background-position: -1294px -36px}
.petrol_regular {width:32px; height:32px; background-position: -1294px -70px}
.pig {width:32px; height:32px; background-position: -1294px -104px}
.plastics {width:32px; height:32px; background-position: -1294px -138px}
.poncho {width:32px; height:32px; background-position: -1328px -2px}
.potato {width:32px; height:32px; background-position: -1328px -36px}
.press {width:32px; height:32px; background-position: -1328px -70px}
.pulsimeter {width:32px; height:32px; background-position: -1328px -104px}
.pwtools {width:32px; height:32px; background-position: -1328px -138px}
.readinglamp {width:32px; height:32px; background-position: -1362px -2px}
.redcaviar {width:32px; height:32px; background-position: -1362px -36px}
.refueling {width:32px; height:32px; background-position: -1362px -70px}
.repairing {width:32px; height:32px; background-position: -1362px -104px}
.restaurant {width:32px; height:32px; background-position: -1362px -138px}
.rice {width:32px; height:32px; background-position: -1396px -2px}
.rims {width:32px; height:32px; background-position: -1396px -36px}
.roastedcoffee {width:32px; height:32px; background-position: -1396px -70px}
.roof_rack {width:32px; height:32px; background-position: -1396px -104px}
.rubber {width:32px; height:32px; background-position: -1396px -138px}
.salmon {width:32px; height:32px; background-position: -1430px -2px}
.sanitaryware {width:32px; height:32px; background-position: -1430px -36px}
.sauce {width:32px; height:32px; background-position: -1430px -70px}
.sausages {width:32px; height:32px; background-position: -1430px -104px}
.saw {width:32px; height:32px; background-position: -1430px -138px}
.sawmill {width:32px; height:32px; background-position: -1464px -2px}
.scooter {width:32px; height:32px; background-position: -1464px -36px}
.screenwash {width:32px; height:32px; background-position: -1464px -70px}
.seine {width:32px; height:32px; background-position: -1464px -104px}
.sheep {width:32px; height:32px; background-position: -1464px -138px}
.ship_body {width:32px; height:32px; background-position: -1498px -2px}
.shoes {width:32px; height:32px; background-position: -1498px -36px}
.showercubicle {width:32px; height:32px; background-position: -1498px -70px}
.silicon {width:32px; height:32px; background-position: -1498px -104px}
.silk {width:32px; height:32px; background-position: -1498px -138px}
.smartphone {width:32px; height:32px; background-position: -1532px -2px}
.socks {width:32px; height:32px; background-position: -1532px -36px}
.sombrero {width:32px; height:32px; background-position: -1532px -70px}
.soybean {width:32px; height:32px; background-position: -1532px -104px}
.spice {width:32px; height:32px; background-position: -1532px -138px}
.sportfood {width:32px; height:32px; background-position: -1566px -2px}
.stationery {width:32px; height:32px; background-position: -1566px -36px}
.steel {width:32px; height:32px; background-position: -1566px -70px}
.sturgeon {width:32px; height:32px; background-position: -1566px -104px}
.sugar {width:32px; height:32px; background-position: -1566px -138px}
.suit {width:32px; height:32px; background-position: -1600px -2px}
.sunflower {width:32px; height:32px; background-position: -1600px -36px}
.sweet {width:32px; height:32px; background-position: -1600px -70px}
.synth_ingredients {width:32px; height:32px; background-position: -1600px -104px}
.syntheticfabric {width:32px; height:32px; background-position: -1600px -138px}
.tablets {width:32px; height:32px; background-position: -1634px -2px}
.tea {width:32px; height:32px; background-position: -1634px -36px}
.teacup {width:32px; height:32px; background-position: -1634px -70px}
.termo {width:32px; height:32px; background-position: -1634px -104px}
.thermometer {width:32px; height:32px; background-position: -1634px -138px}
.ti {width:32px; height:32px; background-position: -1668px -2px}
.tobacco {width:32px; height:32px; background-position: -1668px -36px}
.tomato {width:32px; height:32px; background-position: -1668px -70px}
.toys {width:32px; height:32px; background-position: -1668px -104px}
.tractor {width:31px; height:32px; background-position: -1770px -138px}
.trainer {width:32px; height:32px; background-position: -1668px -138px}
.trash_equipment {width:32px; height:32px; background-position: -1702px -2px}
.turbine {width:32px; height:32px; background-position: -1736px -2px}
.tv {width:32px; height:32px; background-position: -1770px -2px}
.tyre {width:32px; height:32px; background-position: -1804px -2px}
.umbrella {width:32px; height:32px; background-position: -1702px -36px}
.underwear {width:32px; height:32px; background-position: -1702px -70px}
.video {width:32px; height:32px; background-position: -1702px -104px}
.villa {width:32px; height:28px; background-position: -1804px -104px}
.virta.ico {width:16px; height:16px; background-position: -1803px -138px}
.warehouse {width:32px; height:32px; background-position: -1702px -138px}
.washer {width:32px; height:32px; background-position: -1736px -36px}
.watches {width:32px; height:32px; background-position: -1770px -36px}
.wing {width:32px; height:32px; background-position: -1804px -36px}
.wood {width:32px; height:32px; background-position: -1736px -70px}
.wool {width:32px; height:32px; background-position: -1736px -104px}
.workshop {width:32px; height:32px; background-position: -1736px -138px}
.yacht {width:32px; height:32px; background-position: -1770px -70px}
.yacht_equipment {width:32px; height:32px; background-position: -1804px -70px}
.yacht_interior {width:32px; height:32px; background-position: -1770px -104px}
