<div class="container">
	<table class="table table-striped">
	<tbody><tr><td colspan="8" class="warning text-center h4">Авиастроение</td></tr>
				<tr >
				<td width="35"><a href="#/production/factory/380082"><span class="workshop sprite"></span></a></td>
				<td width="25%"><a href="#/production/factory/380082">Авиасборочное предприятие</a></td>
				<td width="35"><a href="#/production/factory/380079"><span class="workshop sprite"></span></a></td>
				<td width="25%"><a href="#/production/factory/380079">Завод авиадвигателей</a></td>
				<td width="35"><a href="#/production/factory/380076"><span class="workshop sprite"></span></a></td>
				<td width="25%"><a href="#/production/factory/380076">Завод авиаинтерьера</a></td>
				<td width="35"><a href="#/production/factory/380073"><span class="workshop sprite"></span></a></td>
				<td width="25%"><a href="#/production/factory/380073">Завод авиаконструкций</a></td>
				</tr>
				<tr >
				<td width="35"><a href="#/production/factory/380085"><span class="workshop sprite"></span></a></td>
				<td width="25%"><a href="#/production/factory/380085">Завод авиашасси</a></td>
				<td width="35"><a href="#/production/factory/380091"><span class="workshop sprite"></span></a></td>
				<td width="25%"><a href="#/production/factory/380091">Завод по производству авионики</a></td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				</tr>
				<tr>
				<td colspan="8" class="warning text-center h4">Автомобилестроение</td>
				</tr>
				<tr >
				<td width="35"><a href="#/production/factory/2427"><span class="workshop sprite"></span></a></td>
				<td width="25%"><a href="#/production/factory/2427">Автомобильный завод</a></td>
				<td width="35"><a href="#/production/factory/370130"><span class="workshop sprite"></span></a></td>
				<td width="25%"><a href="#/production/factory/370130">Автосборочный завод</a></td>
				<td width="35"><a href="#/production/factory/422748"><span class="workshop sprite"></span></a></td>
				<td width="25%"><a href="#/production/factory/422748">Завод автомобильных принадлежностей</a></td>
				<td width="35"><a href="#/production/factory/422736"><span class="workshop sprite"></span></a></td>
				<td width="25%"><a href="#/production/factory/422736">Завод авторемонтного оборудования</a></td>
				</tr>
				<tr >
				<td width="35"><a href="#/production/factory/2436"><span class="workshop sprite"></span></a></td>
				<td width="25%"><a href="#/production/factory/2436">Завод по производству мотоциклов</a></td>
				<td width="35"><a href="#/production/factory/15352"><span class="workshop sprite"></span></a></td>
				<td width="25%"><a href="#/production/factory/15352">Завод по производству водных скутеров</a></td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				</tr>
				<tr>
				<td colspan="8" class="warning text-center h4">Горно-рудная промышленность</td>
				</tr>
				<tr >
				<td width="35"><a href="#/production/mine/2396"><span class="mine sprite"></span></a></td>
				<td width="25%"><a href="#/production/mine/2396">Алмазный карьер</a></td>
				<td width="35"><a href="#/production/mine/1869"><span class="mine sprite"></span></a></td>
				<td width="25%"><a href="#/production/mine/1869">Бокситный карьер</a></td>
				<td width="35"><a href="#/production/mine/2401"><span class="mine sprite"></span></a></td>
				<td width="25%"><a href="#/production/mine/2401">Глиняный карьер</a></td>
				<td width="35"><a href="#/production/mine/2397"><span class="mine sprite"></span></a></td>
				<td width="25%"><a href="#/production/mine/2397">Железнорудная шахта</a></td>
				</tr>
				<tr >
				<td width="35"><a href="#/production/mine/2399"><span class="mine sprite"></span></a></td>
				<td width="25%"><a href="#/production/mine/2399">Золотодобывающее предприятие</a></td>
				<td width="35"><a href="#/production/mine/2402"><span class="mine sprite"></span></a></td>
				<td width="25%"><a href="#/production/mine/2402">Кремниевый карьер</a></td>
				<td width="35"><a href="#/production/mine/370082"><span class="mine sprite"></span></a></td>
				<td width="25%"><a href="#/production/mine/370082">Медный рудник</a></td>
				<td width="35"><a href="#/production/mine/2398"><span class="mine sprite"></span></a></td>
				<td width="25%"><a href="#/production/mine/2398">Солевая шахта</a></td>
				</tr>
				<tr >
				<td width="35"><a href="#/production/mine/380061"><span class="mine sprite"></span></a></td>
				<td width="25%"><a href="#/production/mine/380061">Титановый рудник</a></td>
				<td width="35"><a href="#/production/mine/2400"><span class="mine sprite"></span></a></td>
				<td width="25%"><a href="#/production/mine/2400">Угольная шахта</a></td>
				<td width="35"><a href="#/production/mine/7102"><span class="mine sprite"></span></a></td>
				<td width="25%"><a href="#/production/mine/7102">Шахта по добыче марганца</a></td>
				<td width="35"><a href="#/production/mine/7096"><span class="mine sprite"></span></a></td>
				<td width="25%"><a href="#/production/mine/7096">Шахта по добыче хрома</a></td>
				</tr>
				<tr >
				</tr><tr>
				<td colspan="8" class="warning text-center h4">Деревообработка</td>
				</tr>
				<tr >
				<td width="35"><a href="#/production/farm/2071"><span class="sawmill sprite"></span></a></td>
				<td width="25%"><a href="#/production/farm/2071">Лесопилка</a></td>
				<td width="35"><a href="#/production/factory/2413"><span class="workshop sprite"></span></a></td>
				<td width="25%"><a href="#/production/factory/2413">Мебельная фабрика</a></td>
				<td width="35"><a href="#/production/factory/2407"><span class="workshop sprite"></span></a></td>
				<td width="25%"><a href="#/production/factory/2407">Целлюлозно-бумажный комбинат</a></td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				</tr>
				<tr >
				</tr><tr>
				<td colspan="8" class="warning text-center h4">Лёгкая промышленность</td>
				</tr>
				<tr >
				<td width="35"><a href="#/production/factory/422211"><span class="workshop sprite"></span></a></td>
				<td width="25%"><a href="#/production/factory/422211">Ателье пошива одежды</a></td>
				<td width="35"><a href="#/production/factory/422692"><span class="workshop sprite"></span></a></td>
				<td width="25%"><a href="#/production/factory/422692">Мануфактура национальной одежды</a></td>
				<td width="35"><a href="#/production/factory/2415"><span class="workshop sprite"></span></a></td>
				<td width="25%"><a href="#/production/factory/2415">Обувная фабрика</a></td>
				<td width="35"><a href="#/production/factory/2414"><span class="workshop sprite"></span></a></td>
				<td width="25%"><a href="#/production/factory/2414">Ткацкая фабрика</a></td>
				</tr>
				<tr >
				<td width="35"><a href="#/production/factory/402000"><span class="workshop sprite"></span></a></td>
				<td width="25%"><a href="#/production/factory/402000">Трикотажная фабрика</a></td>
				<td width="35"><a href="#/production/factory/2416"><span class="workshop sprite"></span></a></td>
				<td width="25%"><a href="#/production/factory/2416">Фабрика игрушек</a></td>
				<td width="35"><a href="#/production/factory/312812"><span class="workshop sprite"></span></a></td>
				<td width="25%"><a href="#/production/factory/312812">Фабрика нижнего белья</a></td>
				<td width="35"><a href="#/production/factory/2412"><span class="workshop sprite"></span></a></td>
				<td width="25%"><a href="#/production/factory/2412">Фабрика одежды</a></td>
				</tr>
				<tr >
				<td width="35"><a href="#/production/factory/312806"><span class="workshop sprite"></span></a></td>
				<td width="25%"><a href="#/production/factory/312806">Фабрика постельного белья</a></td>
				<td width="35"><a href="#/production/factory/312800"><span class="workshop sprite"></span></a></td>
				<td width="25%"><a href="#/production/factory/312800">Хлопкоочистительный завод</a></td>
				<td width="35"><a href="#/production/factory/422473"><span class="workshop sprite"></span></a></td>
				<td width="25%"><a href="#/production/factory/422473">Чулочно-носочная фабрика</a></td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				</tr>
				<tr>
				<td colspan="8" class="warning text-center h4">Машиностроение</td>
				</tr>
				<tr >
				<td width="35"><a href="#/production/factory/370118"><span class="workshop sprite"></span></a></td>
				<td width="25%"><a href="#/production/factory/370118">Завод запчастей</a></td>
				<td width="35"><a href="#/production/factory/2409"><span class="workshop sprite"></span></a></td>
				<td width="25%"><a href="#/production/factory/2409">Машиностроительный завод</a></td>
				<td width="35"><a href="#/production/factory/2438"><span class="workshop sprite"></span></a></td>
				<td width="25%"><a href="#/production/factory/2438">Станкостроительный завод</a></td>
				<td width="35"><a href="#/production/factory/2437"><span class="workshop sprite"></span></a></td>
				<td width="25%"><a href="#/production/factory/2437">Тракторный завод</a></td>
				</tr>
				<tr >
				<td width="35"><a href="#/production/factory/370100"><span class="workshop sprite"></span></a></td>
				<td width="25%"><a href="#/production/factory/370100">Электромеханический завод</a></td>
				<td width="35"><a href="#/production/factory/422730"><span class="workshop sprite"></span></a></td>
				<td width="25%"><a href="#/production/factory/422730">Завод топливного оборудования</a></td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				</tr>
				<tr>
				<td colspan="8" class="warning text-center h4">Медицина, фармация и косметология</td>
				</tr>
				<tr >
				<td width="35"><a href="#/production/factory/359870"><span class="workshop sprite"></span></a></td>
				<td width="25%"><a href="#/production/factory/359870">Завод медицинского инструментария</a></td>
				<td width="35"><a href="#/production/factory/359864"><span class="workshop sprite"></span></a></td>
				<td width="25%"><a href="#/production/factory/359864">Завод медицинского оборудования</a></td>
				<td width="35"><a href="#/production/factory/303312"><span class="workshop sprite"></span></a></td>
				<td width="25%"><a href="#/production/factory/303312">Завод по производству косметики</a></td>
				<td width="35"><a href="#/production/factory/359888"><span class="workshop sprite"></span></a></td>
				<td width="25%"><a href="#/production/factory/359888">Фармацевтический завод</a></td>
				</tr>
				<tr >
				<td width="35"><a href="#/production/factory/359882"><span class="workshop sprite"></span></a></td>
				<td width="25%"><a href="#/production/factory/359882">Фабрика биопрепаратов</a></td>
				<td width="35"><a href="#/production/factory/359876"><span class="workshop sprite"></span></a></td>
				<td width="25%"><a href="#/production/factory/359876">Фабрика лекарственных компонентов</a></td>
				<td width="35"><a href="#/production/factory/359894"><span class="workshop sprite"></span></a></td>
				<td width="25%"><a href="#/production/factory/359894">Фабрика средств гигиены</a></td>
				<td width="35"><a href="#/production/factory/422455"><span class="workshop sprite"></span></a></td>
				<td width="25%"><a href="#/production/factory/422455">Завод медицинской электроники</a></td>
				</tr>
				<tr >
				<td width="35"><a href="#/production/factory/422583"><span class="workshop sprite"></span></a></td>
				<td width="25%"><a href="#/production/factory/422583">Завод медицинских антисептиков</a></td>
				<td width="35"><a href="#/production/factory/16024"><span class="workshop sprite"></span></a></td>
				<td width="25%"><a href="#/production/factory/16024">Парфюмерная фабрика</a></td>
				<td width="35"><a href="#/production/factory/16012"><span class="workshop sprite"></span></a></td>
				<td width="25%"><a href="#/production/factory/16012">Фабрика парфюмерных эссенций</a></td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				</tr>
				<tr>
				<td colspan="8" class="warning text-center h4">Металлургия</td>
				</tr>
				<tr >
				<td width="35"><a href="#/production/factory/380067"><span class="workshop sprite"></span></a></td>
				<td width="25%"><a href="#/production/factory/380067">Завод по выплавке титана</a></td>
				<td width="35"><a href="#/production/factory/7112"><span class="workshop sprite"></span></a></td>
				<td width="25%"><a href="#/production/factory/7112">Завод по обработке цветных металлов</a></td>
				<td width="35"><a href="#/production/factory/370094"><span class="workshop sprite"></span></a></td>
				<td width="25%"><a href="#/production/factory/370094">Завод сверхлегких сплавов</a></td>
				<td width="35"><a href="#/production/factory/370088"><span class="workshop sprite"></span></a></td>
				<td width="25%"><a href="#/production/factory/370088">Медеплавильный комбинат</a></td>
				</tr>
				<tr >
				<td width="35"><a href="#/production/factory/2403"><span class="workshop sprite"></span></a></td>
				<td width="25%"><a href="#/production/factory/2403">Металлургический завод</a></td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				</tr>
				<tr>
				<td colspan="8" class="warning text-center h4">Недвижимость и предметы роскоши</td>
				</tr>
				<tr >
				<td width="35"><a href="#/production/factory/124"><span class="workshop sprite"></span></a></td>
				<td width="25%"><a href="#/production/factory/124">Фабрика элитных интерьеров</a></td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				</tr>
				<tr>
				<td colspan="8" class="warning text-center h4">Нефтяная промышленность</td>
				</tr>
				<tr >
				<td width="35"><a href="#/production/mine/2395"><span class="oilpump sprite"></span></a></td>
				<td width="25%"><a href="#/production/mine/2395">Нефтедобывающее предприятие</a></td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				</tr>
				<tr>
				<td colspan="8" class="warning text-center h4">Пищевая промышленность</td>
				</tr>
				<tr >
				<td width="35"><a href="#/production/factory/422056"><span class="workshop sprite"></span></a></td>
				<td width="25%"><a href="#/production/factory/422056">Завод по переработке оливок</a></td>
				<td width="35"><a href="#/production/factory/15769"><span class="workshop sprite"></span></a></td>
				<td width="25%"><a href="#/production/factory/15769">Завод по производству ПБП</a></td>
				<td width="35"><a href="#/production/factory/3903"><span class="workshop sprite"></span></a></td>
				<td width="25%"><a href="#/production/factory/3903">Завод по производству прохладительных напитков</a></td>
				<td width="35"><a href="#/production/factory/16018"><span class="workshop sprite"></span></a></td>
				<td width="25%"><a href="#/production/factory/16018">Завод по производству специй</a></td>
				</tr>
				<tr >
				<td width="35"><a href="#/production/factory/373221"><span class="workshop sprite"></span></a></td>
				<td width="25%"><a href="#/production/factory/373221">Завод по производству сыра</a></td>
				<td width="35"><a href="#/production/factory/1855"><span class="workshop sprite"></span></a></td>
				<td width="25%"><a href="#/production/factory/1855">Колбасный завод</a></td>
				<td width="35"><a href="#/production/factory/380009"><span class="workshop sprite"></span></a></td>
				<td width="25%"><a href="#/production/factory/380009">Кофеобжарочная фабрика</a></td>
				<td width="35"><a href="#/production/factory/1906"><span class="workshop sprite"></span></a></td>
				<td width="25%"><a href="#/production/factory/1906">Ликероводочный завод</a></td>
				</tr>
				<tr >
				<td width="35"><a href="#/production/factory/401982"><span class="workshop sprite"></span></a></td>
				<td width="25%"><a href="#/production/factory/401982">Соевая фабрика</a></td>
				<td width="35"><a href="#/production/factory/15757"><span class="workshop sprite"></span></a></td>
				<td width="25%"><a href="#/production/factory/15757">Маслозавод</a></td>
				<td width="35"><a href="#/production/factory/1891"><span class="workshop sprite"></span></a></td>
				<td width="25%"><a href="#/production/factory/1891">Молокозавод</a></td>
				<td width="35"><a href="#/production/factory/2421"><span class="workshop sprite"></span></a></td>
				<td width="25%"><a href="#/production/factory/2421">Пивоваренный завод</a></td>
				</tr>
				<tr >
				<td width="35"><a href="#/production/factory/15763"><span class="workshop sprite"></span></a></td>
				<td width="25%"><a href="#/production/factory/15763">Плодоовощной завод</a></td>
				<td width="35"><a href="#/production/factory/2422"><span class="workshop sprite"></span></a></td>
				<td width="25%"><a href="#/production/factory/2422">Хлебозавод</a></td>
				<td width="35"><a href="#/production/factory/2330"><span class="workshop sprite"></span></a></td>
				<td width="25%"><a href="#/production/factory/2330">Шоколадная фабрика</a></td>
				<td width="35"><a href="#/production/factory/422565"><span class="workshop sprite"></span></a></td>
				<td width="25%"><a href="#/production/factory/422565">Вискокурня</a></td>
				</tr>
				<tr >
				<td width="35"><a href="#/production/factory/401988"><span class="workshop sprite"></span></a></td>
				<td width="25%"><a href="#/production/factory/401988">Чайная мануфактура</a></td>
				<td width="35"><a href="#/production/factory/422559"><span class="workshop sprite"></span></a></td>
				<td width="25%"><a href="#/production/factory/422559">Завод готовых завтраков</a></td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				</tr>
				<tr>
				<td colspan="8" class="warning text-center h4">Промысловое хозяйство</td>
				</tr>
				<tr >
				<td width="35"><a href="#/production/factory/335200"><span class="workshop sprite"></span></a></td>
				<td width="25%"><a href="#/production/factory/335200">Завод по переработке рыбы</a></td>
				<td width="35"><a href="#/production/farm/335186"><span class="fishingbase sprite"></span></a></td>
				<td width="25%"><a href="#/production/farm/335186">Рыболовная база</a></td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				</tr>
				<tr>
				<td colspan="8" class="warning text-center h4">Сельское хозяйство</td>
				</tr>
				<tr >
				<td width="35"><a href="#/production/farm/2119"><span class="farm sprite"></span></a></td>
				<td width="25%"><a href="#/production/farm/2119">Земледельческая ферма</a></td>
				<td width="35"><a href="#/production/afarm/2419"><span class="animalfarm sprite"></span></a></td>
				<td width="25%"><a href="#/production/afarm/2419">Овцеферма</a></td>
				<td width="35"><a href="#/production/afarm/2044"><span class="animalfarm sprite"></span></a></td>
				<td width="25%"><a href="#/production/afarm/2044">Коровник</a></td>
				<td width="35"><a href="#/production/factory/2057"><span class="mill sprite"></span></a></td>
				<td width="25%"><a href="#/production/factory/2057">Мельница</a></td>
				</tr>
				<tr >
				<td width="35"><a href="#/production/afarm/2418"><span class="animalfarm sprite"></span></a></td>
				<td width="25%"><a href="#/production/afarm/2418">Птицеферма</a></td>
				<td width="35"><a href="#/production/afarm/2417"><span class="animalfarm sprite"></span></a></td>
				<td width="25%"><a href="#/production/afarm/2417">Свиноферма</a></td>
				<td width="35"><a href="#/production/farm/2420"><span class="orchard sprite"></span></a></td>
				<td width="25%"><a href="#/production/farm/2420">Фруктовая плантация</a></td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				</tr>
				<tr >
				</tr><tr>
				<td colspan="8" class="warning text-center h4">Стекольная промышленность</td>
				</tr>
				<tr >
				<td width="35"><a href="#/production/factory/2428"><span class="workshop sprite"></span></a></td>
				<td width="25%"><a href="#/production/factory/2428">Керамический завод</a></td>
				<td width="35"><a href="#/production/factory/2408"><span class="workshop sprite"></span></a></td>
				<td width="25%"><a href="#/production/factory/2408">Стекольный завод</a></td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				</tr>
				<tr>
				<td colspan="8" class="warning text-center h4">Судостроение</td>
				</tr>
				<tr >
				<td width="35"><a href="#/production/factory/335220"><span class="workshop sprite"></span></a></td>
				<td width="25%"><a href="#/production/factory/335220">Судостроительная верфь</a></td>
				<td width="35"><a href="#/production/factory/123"><span class="workshop sprite"></span></a></td>
				<td width="25%"><a href="#/production/factory/123">Яхтостроительный завод</a></td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				</tr>
				<tr>
				<td colspan="8" class="warning text-center h4">Сфера услуг</td>
				</tr>
				<tr >
				<td width="35"><a href="#/production/factory/373203"><span class="workshop sprite"></span></a></td>
				<td width="25%"><a href="#/production/factory/373203">Фабрика общественных интерьеров</a></td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				</tr>
				<tr>
				<td colspan="8" class="warning text-center h4">Товары народного потребления</td>
				</tr>
				<tr >
				<td width="35"><a href="#/production/factory/7120"><span class="workshop sprite"></span></a></td>
				<td width="25%"><a href="#/production/factory/7120">Завод бытовой техники</a></td>
				<td width="35"><a href="#/production/factory/2410"><span class="workshop sprite"></span></a></td>
				<td width="25%"><a href="#/production/factory/2410">Завод бытовых изделий</a></td>
				<td width="35"><a href="#/production/factory/2431"><span class="workshop sprite"></span></a></td>
				<td width="25%"><a href="#/production/factory/2431">Завод по производству велосипедов</a></td>
				<td width="35"><a href="#/production/factory/16042"><span class="workshop sprite"></span></a></td>
				<td width="25%"><a href="#/production/factory/16042">Завод по производству зонтов</a></td>
				</tr>
				<tr >
				<td width="35"><a href="#/production/factory/373215"><span class="workshop sprite"></span></a></td>
				<td width="25%"><a href="#/production/factory/373215">Завод по производству кухонных плит</a></td>
				<td width="35"><a href="#/production/factory/373227"><span class="workshop sprite"></span></a></td>
				<td width="25%"><a href="#/production/factory/373227">Завод по производству посудомоечных машин</a></td>
				<td width="35"><a href="#/production/factory/15340"><span class="workshop sprite"></span></a></td>
				<td width="25%"><a href="#/production/factory/15340">Завод спортивного инвентаря</a></td>
				<td width="35"><a href="#/production/factory/15346"><span class="workshop sprite"></span></a></td>
				<td width="25%"><a href="#/production/factory/15346">Завод спортивного оборудования</a></td>
				</tr>
				<tr >
				<td width="35"><a href="#/production/factory/2429"><span class="workshop sprite"></span></a></td>
				<td width="25%"><a href="#/production/factory/2429">Завод фототехники</a></td>
				<td width="35"><a href="#/production/factory/370112"><span class="workshop sprite"></span></a></td>
				<td width="25%"><a href="#/production/factory/370112">Завод электроинструментов</a></td>
				<td width="35"><a href="#/production/factory/422207"><span class="workshop sprite"></span></a></td>
				<td width="25%"><a href="#/production/factory/422207">Мануфактура по производству сигар</a></td>
				<td width="35"><a href="#/production/factory/13709"><span class="workshop sprite"></span></a></td>
				<td width="25%"><a href="#/production/factory/13709">Сувенирная мануфактура</a></td>
				</tr>
				<tr >
				<td width="35"><a href="#/production/factory/422206"><span class="workshop sprite"></span></a></td>
				<td width="25%"><a href="#/production/factory/422206">Табачная фабрика</a></td>
				<td width="35"><a href="#/production/factory/2411"><span class="workshop sprite"></span></a></td>
				<td width="25%"><a href="#/production/factory/2411">Типография</a></td>
				<td width="35"><a href="#/production/factory/422208"><span class="workshop sprite"></span></a></td>
				<td width="25%"><a href="#/production/factory/422208">Фабрика корма для животных</a></td>
				<td width="35"><a href="#/production/factory/373209"><span class="workshop sprite"></span></a></td>
				<td width="25%"><a href="#/production/factory/373209">Фабрика кухонной мебели</a></td>
				</tr>				
				<tr >
				<td width="35"><a href="#/production/factory/422443"><span class="workshop sprite"></span></a></td>
				<td width="25%"><a href="#/production/factory/422443">Завод садового инвентаря</a></td>
				<td width="35"></td>
				<td width="25%"></td>
				<td width="35"></td>
				<td width="25%"></td>
				<td width="35"></td>
				<td width="25%"></td>
				</tr>
				<tr >
				</tr>
				<tr>
				<td colspan="8" class="warning text-center h4">Химическая промышленность</td>
				</tr>
				<tr >
				<td width="35"><a href="#/production/factory/2404"><span class="workshop sprite"></span></a></td>
				<td width="25%"><a href="#/production/factory/2404">Завод бытовой химии</a></td>
				<td width="35"><a href="#/production/factory/370124"><span class="workshop sprite"></span></a></td>
				<td width="25%"><a href="#/production/factory/370124">Нефтемаслозавод</a></td>
				<td width="35"><a href="#/production/factory/2405"><span class="workshop sprite"></span></a></td>
				<td width="25%"><a href="#/production/factory/2405">Химический завод</a></td>
				<td width="35"><a href="#/production/factory/2406"><span class="workshop sprite"></span></a></td>
				<td width="25%"><a href="#/production/factory/2406">Шинный завод</a></td>
				</tr>
				<tr >
				<td width="35"><a href="#/production/factory/422577"><span class="workshop sprite"></span></a></td>
				<td width="25%"><a href="#/production/factory/422577">Завод автомобильной химии</a></td>
				<td width="35"><a href="#/production/factory/422571"><span class="workshop sprite"></span></a></td>
				<td width="25%"><a href="#/production/factory/422571">Завод органического синтеза</a></td>
				<td width="35"><a href="#/production/factory/422724"><span class="workshop sprite"></span></a></td>
				<td width="25%"><a href="#/production/factory/422724">Нефтеперерабатывающий завод</a></td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				</tr><tr>
				<td colspan="8" class="warning text-center h4">Электронная и электротехническая промышленность</td>
				</tr>
				<tr >
				<td width="35"><a href="#/production/factory/2432"><span class="workshop sprite"></span></a></td>
				<td width="25%"><a href="#/production/factory/2432">Завод аудиоаппаратуры</a></td>
				<td width="35"><a href="#/production/factory/3891"><span class="workshop sprite"></span></a></td>
				<td width="25%"><a href="#/production/factory/3891">Завод видеоаппаратуры</a></td>
				<td width="35"><a href="#/production/factory/370106"><span class="workshop sprite"></span></a></td>
				<td width="25%"><a href="#/production/factory/370106">Завод климатической техники</a></td>
				<td width="35"><a href="#/production/factory/2423"><span class="workshop sprite"></span></a></td>
				<td width="25%"><a href="#/production/factory/2423">Завод микропроцессоров</a></td>
				</tr>
				<tr >
				<td width="35"><a href="#/production/factory/3840"><span class="workshop sprite"></span></a></td>
				<td width="25%"><a href="#/production/factory/3840">Завод по производству GPS-навигаторов</a></td>
				<td width="35"><a href="#/production/factory/2433"><span class="workshop sprite"></span></a></td>
				<td width="25%"><a href="#/production/factory/2433">Завод по производству компьютеров</a></td>
				<td width="35"><a href="#/production/factory/380015"><span class="workshop sprite"></span></a></td>
				<td width="25%"><a href="#/production/factory/380015">Завод по производству кофе-машин</a></td>
				<td width="35"><a href="#/production/factory/422210"><span class="workshop sprite"></span></a></td>
				<td width="25%"><a href="#/production/factory/422210">Завод по производству смартфонов</a></td>
				</tr>
				<tr >
				<td width="35"><a href="#/production/factory/3878"><span class="workshop sprite"></span></a></td>
				<td width="25%"><a href="#/production/factory/3878">Завод по производству стиральных машин</a></td>
				<td width="35"><a href="#/production/factory/2424"><span class="workshop sprite"></span></a></td>
				<td width="25%"><a href="#/production/factory/2424">Завод по производству холодильников</a></td>
				<td width="35"><a href="#/production/factory/2434"><span class="workshop sprite"></span></a></td>
				<td width="25%"><a href="#/production/factory/2434">Приборостроительный завод</a></td>
				<td width="35"><a href="#/production/factory/2435"><span class="workshop sprite"></span></a></td>
				<td width="25%"><a href="#/production/factory/2435">Фабрика по производству мобильных телефонов</a></td>
				</tr>
				<tr >
				<td width="35"><a href="#/production/factory/422209"><span class="workshop sprite"></span></a></td>
				<td width="25%"><a href="#/production/factory/422209">Фабрика производства светодиодов</a></td>
				<td width="35"><a href="#/production/factory/422449"><span class="workshop sprite"></span></a></td>
				<td width="25%"><a href="#/production/factory/422449">Завод по производству телевизоров</a></td>
				<td width="35"><a href="#/production/factory/422467"><span class="workshop sprite"></span></a></td>
				<td width="25%"><a href="#/production/factory/422467">Завод светотехники</a></td>
				<td width="35"><a href="#/production/factory/422461"><span class="workshop sprite"></span></a></td>
				<td width="25%"><a href="#/production/factory/422461">Электроламповый завод</a></td>
				</tr>
				<tr>
				<td colspan="8" class="warning text-center h4">Электроэнергетика</td>
				</tr>
				<tr >
				<td width="35"><a href="#/production/factory/422160"><span class="workshop sprite"></span></a></td>
				<td width="25%"><a href="#/production/factory/422160">Завод по монтажу энергоблоков</a></td>
				<td width="35"><a href="#/production/factory/422148"><span class="workshop sprite"></span></a></td>
				<td width="25%"><a href="#/production/factory/422148">Завод теплообменного оборудования</a></td>
				<td width="35"><a href="#/production/factory/422154"><span class="workshop sprite"></span></a></td>
				<td width="25%"><a href="#/production/factory/422154">Завод угольного оборудования</a></td>
				<td width="35"><a href="#/production/factory/422142"><span class="workshop sprite"></span></a></td>
				<td width="25%"><a href="#/production/factory/422142">Энергомашиностроительный завод</a></td>
				</tr>
				<tr >
				<td width="35"><a href="#/production/factory/422742"><span class="workshop sprite"></span></a></td>
				<td width="25%"><a href="#/production/factory/422742">Завод экологического оборудования</a></td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>				
				<td>&nbsp;</td>
				<td>&nbsp;</td>				
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				</tr>
				<tr>
				<td colspan="8" class="warning text-center h4">Ювелирная промышленность</td>
				</tr>
				<tr >
				<td width="35"><a href="#/production/factory/2439"><span class="workshop sprite"></span></a></td>
				<td width="25%"><a href="#/production/factory/2439">Гранильная фабрика</a></td>
				<td width="35"><a href="#/production/factory/355093"><span class="workshop sprite"></span></a></td>
				<td width="25%"><a href="#/production/factory/355093">Студия декора</a></td>
				<td width="35"><a href="#/production/factory/380021"><span class="workshop sprite"></span></a></td>
				<td width="25%"><a href="#/production/factory/380021">Студия обработки жемчуга</a></td>
				<td width="35"><a href="#/production/factory/2425"><span class="workshop sprite"></span></a></td>
				<td width="25%"><a href="#/production/factory/2425">Часовой завод</a></td>
				</tr>
				<tr >
				<td width="35"><a href="#/production/factory/2426"><span class="workshop sprite"></span></a></td>
				<td width="25%"><a href="#/production/factory/2426">Ювелирный завод</a></td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				</tr>
				</tbody></table>
		</div>