
.card {
  display: flex;
  flex-direction: column;
  border: 1px solid #CAD0D2;
  border-radius: 4px;
  overflow: hidden;
}

  .card__description {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 15px 0;
  }
  
    .card__descriptionIcon {
      margin-bottom: 10px;
    }

    .card__descriptionText {
      color: #57727C;
      font-size: 12px;
      text-align: center;
      max-width: calc(100% - 20px);
    }

  .card__price {
    display: flex;
    justify-content: right;
    align-items: center;
    color: #57727C;
    font-size: 12px;
    font-weight: 700;
    padding: 5px 15px;
    background-color: #EEF3F5;
  }
  
  .card__category {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #57727C;
    font-size: 12px;
    font-weight: 700;
    padding: 5px 15px;
    background-color: #3EF3F5;
	min-height: 30px;
	border: 1px solid #CAD0D2;
	border-radius: 4px;
	margin-top: 10px;
  }

.card--fixedWidth {
  max-width: 120px;
}

.cardGroup {
  display: flex;
  overflow: hidden;
  flex-wrap: wrap;
  padding-left: 0px;
}

.cardGroup__card {
    flex: 0 1 285px;
  }

  .cardGroup__cardDescription {
    flex: 1 1 auto;
  }
  
  .cardGroup__cardTitle {
    min-height: 45px;
  }
  
	.cardGroup__cardTitle img {
		margin-right: 10px
	}