<div class="container">
	<table class="table table-striped">
	<tbody><tr><td colspan="8" class="warning text-center h4">Авиастроение</td></tr>
				<tr >
				<td width="35"><a href="#/production/factory/380082"><img src="img/workshop.gif" align="middle" alt="Авиасборочное предприятие" title="Авиасборочное предприятие"></a></td>
				<td width="25%"><a href="#/production/factory/380082">Авиасборочное предприятие</a></td>
				<td width="35"><a href="#/production/factory/380079"><img src="img/workshop.gif" align="middle" alt="Завод авиадвигателей" title="Завод авиадвигателей"></a></td>
				<td width="25%"><a href="#/production/factory/380079">Завод авиадвигателей</a></td>
				<td width="35"><a href="#/production/factory/380076"><img src="img/workshop.gif" align="middle" alt="Завод авиаинтерьера" title="Завод авиаинтерьера"></a></td>
				<td width="25%"><a href="#/production/factory/380076">Завод авиаинтерьера</a></td>
				<td width="35"><a href="#/production/factory/380073"><img src="img/workshop.gif" align="middle" alt="Завод авиаконструкций" title="Завод авиаконструкций"></a></td>
				<td width="25%"><a href="#/production/factory/380073">Завод авиаконструкций</a></td>
				</tr>
				<tr >
				<td width="35"><a href="#/production/factory/380085"><img src="img/workshop.gif" align="middle" alt="Завод авиашасси" title="Завод авиашасси"></a></td>
				<td width="25%"><a href="#/production/factory/380085">Завод авиашасси</a></td>
				<td width="35"><a href="#/production/factory/380091"><img src="img/workshop.gif" align="middle" alt="Завод по производству авионики" title="Завод по производству авионики"></a></td>
				<td width="25%"><a href="#/production/factory/380091">Завод по производству авионики</a></td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				</tr>
				<tr>
				<td colspan="8" class="warning text-center h4">Автомобилестроение</td>
				</tr>
				<tr >
				<td width="35"><a href="#/production/factory/2427"><img src="img/workshop.gif" align="middle" alt="Автомобильный завод" title="Автомобильный завод"></a></td>
				<td width="25%"><a href="#/production/factory/2427">Автомобильный завод</a></td>
				<td width="35"><a href="#/production/factory/370130"><img src="img/workshop.gif" align="middle" alt="Автосборочный завод" title="Автосборочный завод"></a></td>
				<td width="25%"><a href="#/production/factory/370130">Автосборочный завод</a></td>
				<td width="35"><a href="#/production/factory/422748"><img src="img/workshop.gif" align="middle" alt="Завод по производству мотоциклов" title="Завод автомобильных принадлежностей"></a></td>
				<td width="25%"><a href="#/production/factory/422748">Завод автомобильных принадлежностей</a></td>
				<td width="35"><a href="#/production/factory/422736"><img src="img/workshop.gif" align="middle" alt="Завод по производству водных скутеров" title="Завод авторемонтного оборудования"></a></td>
				<td width="25%"><a href="#/production/factory/422736">Завод авторемонтного оборудования</a></td>
				</tr>
				<tr >
				<td width="35"><a href="#/production/factory/2436"><img src="img/workshop.gif" align="middle" alt="Завод по производству мотоциклов" title="Завод по производству мотоциклов"></a></td>
				<td width="25%"><a href="#/production/factory/2436">Завод по производству мотоциклов</a></td>
				<td width="35"><a href="#/production/factory/15352"><img src="img/workshop.gif" align="middle" alt="Завод по производству водных скутеров" title="Завод по производству водных скутеров"></a></td>
				<td width="25%"><a href="#/production/factory/15352">Завод по производству водных скутеров</a></td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				</tr>
				<tr>
				<td colspan="8" class="warning text-center h4">Горно-рудная промышленность</td>
				</tr>
				<tr >
				<td width="35"><a href="#/production/mine/2396"><img src="img/mine.gif" align="middle" alt="Алмазный карьер" title="Алмазный карьер"></a></td>
				<td width="25%"><a href="#/production/mine/2396">Алмазный карьер</a></td>
				<td width="35"><a href="#/production/mine/1869"><img src="img/mine.gif" align="middle" alt="Бокситный карьер" title="Бокситный карьер"></a></td>
				<td width="25%"><a href="#/production/mine/1869">Бокситный карьер</a></td>
				<td width="35"><a href="#/production/mine/2401"><img src="img/mine.gif" align="middle" alt="Глиняный карьер" title="Глиняный карьер"></a></td>
				<td width="25%"><a href="#/production/mine/2401">Глиняный карьер</a></td>
				<td width="35"><a href="#/production/mine/2397"><img src="img/mine.gif" align="middle" alt="Железнорудная шахта" title="Железнорудная шахта"></a></td>
				<td width="25%"><a href="#/production/mine/2397">Железнорудная шахта</a></td>
				</tr>
				<tr >
				<td width="35"><a href="#/production/mine/2399"><img src="img/mine.gif" align="middle" alt="Золотодобывающее предприятие" title="Золотодобывающее предприятие"></a></td>
				<td width="25%"><a href="#/production/mine/2399">Золотодобывающее предприятие</a></td>
				<td width="35"><a href="#/production/mine/2402"><img src="img/mine.gif" align="middle" alt="Кремниевый карьер" title="Кремниевый карьер"></a></td>
				<td width="25%"><a href="#/production/mine/2402">Кремниевый карьер</a></td>
				<td width="35"><a href="#/production/mine/370082"><img src="img/mine.gif" align="middle" alt="Медный рудник" title="Медный рудник"></a></td>
				<td width="25%"><a href="#/production/mine/370082">Медный рудник</a></td>
				<td width="35"><a href="#/production/mine/2398"><img src="img/mine.gif" align="middle" alt="Солевая шахта" title="Солевая шахта"></a></td>
				<td width="25%"><a href="#/production/mine/2398">Солевая шахта</a></td>
				</tr>
				<tr >
				<td width="35"><a href="#/production/mine/380061"><img src="img/mine.gif" align="middle" alt="Титановый рудник" title="Титановый рудник"></a></td>
				<td width="25%"><a href="#/production/mine/380061">Титановый рудник</a></td>
				<td width="35"><a href="#/production/mine/2400"><img src="img/mine.gif" align="middle" alt="Угольная шахта" title="Угольная шахта"></a></td>
				<td width="25%"><a href="#/production/mine/2400">Угольная шахта</a></td>
				<td width="35"><a href="#/production/mine/7102"><img src="img/mine.gif" align="middle" alt="Шахта по добыче марганца" title="Шахта по добыче марганца"></a></td>
				<td width="25%"><a href="#/production/mine/7102">Шахта по добыче марганца</a></td>
				<td width="35"><a href="#/production/mine/7096"><img src="img/mine.gif" align="middle" alt="Шахта по добыче хрома" title="Шахта по добыче хрома"></a></td>
				<td width="25%"><a href="#/production/mine/7096">Шахта по добыче хрома</a></td>
				</tr>
				<tr >
				</tr><tr>
				<td colspan="8" class="warning text-center h4">Деревообработка</td>
				</tr>
				<tr >
				<td width="35"><a href="#/production/farm/2071"><img src="img/sawmill.gif" align="middle" alt="Лесопилка" title="Лесопилка"></a></td>
				<td width="25%"><a href="#/production/farm/2071">Лесопилка</a></td>
				<td width="35"><a href="#/production/factory/2413"><img src="img/workshop.gif" align="middle" alt="Мебельная фабрика" title="Мебельная фабрика"></a></td>
				<td width="25%"><a href="#/production/factory/2413">Мебельная фабрика</a></td>
				<td width="35"><a href="#/production/factory/2407"><img src="img/workshop.gif" align="middle" alt="Целлюлозно-бумажный комбинат" title="Целлюлозно-бумажный комбинат"></a></td>
				<td width="25%"><a href="#/production/factory/2407">Целлюлозно-бумажный комбинат</a></td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				</tr>
				<tr >
				</tr><tr>
				<td colspan="8" class="warning text-center h4">Лёгкая промышленность</td>
				</tr>
				<tr >
				<td width="35"><a href="#/production/factory/422211"><img src="img/workshop.gif" align="middle" alt="Ателье пошива одежды" title="Ателье пошива одежды"></a></td>
				<td width="25%"><a href="#/production/factory/422211">Ателье пошива одежды</a></td>
				<td width="35"><a href="#/production/factory/422692"><img src="img/workshop.gif" align="middle" alt="Мануфактура национальной одежды" title="Мануфактура национальной одежды"></a></td>
				<td width="25%"><a href="#/production/factory/422692">Мануфактура национальной одежды</a></td>
				<td width="35"><a href="#/production/factory/2415"><img src="img/workshop.gif" align="middle" alt="Обувная фабрика" title="Обувная фабрика"></a></td>
				<td width="25%"><a href="#/production/factory/2415">Обувная фабрика</a></td>
				<td width="35"><a href="#/production/factory/2414"><img src="img/workshop.gif" align="middle" alt="Ткацкая фабрика" title="Ткацкая фабрика"></a></td>
				<td width="25%"><a href="#/production/factory/2414">Ткацкая фабрика</a></td>
				</tr>
				<tr >
				<td width="35"><a href="#/production/factory/402000"><img src="img/workshop.gif" align="middle" alt="Трикотажная фабрика" title="Трикотажная фабрика"></a></td>
				<td width="25%"><a href="#/production/factory/402000">Трикотажная фабрика</a></td>
				<td width="35"><a href="#/production/factory/2416"><img src="img/workshop.gif" align="middle" alt="Фабрика игрушек" title="Фабрика игрушек"></a></td>
				<td width="25%"><a href="#/production/factory/2416">Фабрика игрушек</a></td>
				<td width="35"><a href="#/production/factory/312812"><img src="img/workshop.gif" align="middle" alt="Фабрика нижнего белья" title="Фабрика нижнего белья"></a></td>
				<td width="25%"><a href="#/production/factory/312812">Фабрика нижнего белья</a></td>
				<td width="35"><a href="#/production/factory/2412"><img src="img/workshop.gif" align="middle" alt="Фабрика одежды" title="Фабрика одежды"></a></td>
				<td width="25%"><a href="#/production/factory/2412">Фабрика одежды</a></td>
				</tr>
				<tr >
				<td width="35"><a href="#/production/factory/312806"><img src="img/workshop.gif" align="middle" alt="Фабрика постельного белья" title="Фабрика постельного белья"></a></td>
				<td width="25%"><a href="#/production/factory/312806">Фабрика постельного белья</a></td>
				<td width="35"><a href="#/production/factory/312800"><img src="img/workshop.gif" align="middle" alt="Хлопкоочистительный завод" title="Хлопкоочистительный завод"></a></td>
				<td width="25%"><a href="#/production/factory/312800">Хлопкоочистительный завод</a></td>
				<td width="35"><a href="#/production/factory/422473"><img src="img/workshop.gif" align="middle" alt="Чулочно-носочная фабрика" title="Чулочно-носочная фабрика"></a></td>
				<td width="25%"><a href="#/production/factory/422473">Чулочно-носочная фабрика</a></td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				</tr>
				<tr>
				<td colspan="8" class="warning text-center h4">Машиностроение</td>
				</tr>
				<tr >
				<td width="35"><a href="#/production/factory/370118"><img src="img/workshop.gif" align="middle" alt="Завод запчастей" title="Завод запчастей"></a></td>
				<td width="25%"><a href="#/production/factory/370118">Завод запчастей</a></td>
				<td width="35"><a href="#/production/factory/2409"><img src="img/workshop.gif" align="middle" alt="Машиностроительный завод" title="Машиностроительный завод"></a></td>
				<td width="25%"><a href="#/production/factory/2409">Машиностроительный завод</a></td>
				<td width="35"><a href="#/production/factory/2438"><img src="img/workshop.gif" align="middle" alt="Станкостроительный завод" title="Станкостроительный завод"></a></td>
				<td width="25%"><a href="#/production/factory/2438">Станкостроительный завод</a></td>
				<td width="35"><a href="#/production/factory/2437"><img src="img/workshop.gif" align="middle" alt="Тракторный завод" title="Тракторный завод"></a></td>
				<td width="25%"><a href="#/production/factory/2437">Тракторный завод</a></td>
				</tr>
				<tr >
				<td width="35"><a href="#/production/factory/370100"><img src="img/workshop.gif" align="middle" alt="Электромеханический завод" title="Электромеханический завод"></a></td>
				<td width="25%"><a href="#/production/factory/370100">Электромеханический завод</a></td>
				<td width="35"><a href="#/production/factory/422730"><img src="img/workshop.gif" align="middle" alt="Завод топливного оборудования" title="Завод топливного оборудования"></a></td>
				<td width="25%"><a href="#/production/factory/422730">Завод топливного оборудования</a></td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				</tr>
				<tr>
				<td colspan="8" class="warning text-center h4">Медицина, фармация и косметология</td>
				</tr>
				<tr >
				<td width="35"><a href="#/production/factory/359870"><img src="img/workshop.gif" align="middle" alt="Завод медицинского инструментария" title="Завод медицинского инструментария"></a></td>
				<td width="25%"><a href="#/production/factory/359870">Завод медицинского инструментария</a></td>
				<td width="35"><a href="#/production/factory/359864"><img src="img/workshop.gif" align="middle" alt="Завод медицинского оборудования" title="Завод медицинского оборудования"></a></td>
				<td width="25%"><a href="#/production/factory/359864">Завод медицинского оборудования</a></td>
				<td width="35"><a href="#/production/factory/303312"><img src="img/workshop.gif" align="middle" alt="Завод по производству косметики" title="Завод по производству косметики"></a></td>
				<td width="25%"><a href="#/production/factory/303312">Завод по производству косметики</a></td>
				<td width="35"><a href="#/production/factory/359888"><img src="img/workshop.gif" align="middle" alt="Фармацевтический завод" title="Фармацевтический завод"></a></td>
				<td width="25%"><a href="#/production/factory/359888">Фармацевтический завод</a></td>
				</tr>
				<tr >
				<td width="35"><a href="#/production/factory/359882"><img src="img/workshop.gif" align="middle" alt="Фабрика биопрепаратов" title="Фабрика биопрепаратов"></a></td>
				<td width="25%"><a href="#/production/factory/359882">Фабрика биопрепаратов</a></td>
				<td width="35"><a href="#/production/factory/359876"><img src="img/workshop.gif" align="middle" alt="Фабрика лекарственных компонентов" title="Фабрика лекарственных компонентов"></a></td>
				<td width="25%"><a href="#/production/factory/359876">Фабрика лекарственных компонентов</a></td>
				<td width="35"><a href="#/production/factory/359894"><img src="img/workshop.gif" align="middle" alt="Фабрика средств гигиены" title="Фабрика средств гигиены"></a></td>
				<td width="25%"><a href="#/production/factory/359894">Фабрика средств гигиены</a></td>
				<td width="35"><a href="#/production/factory/422455"><img src="img/workshop.gif" align="middle" alt="Завод медицинской электроники" title="Завод медицинской электроники"></a></td>
				<td width="25%"><a href="#/production/factory/422455">Завод медицинской электроники</a></td>
				</tr>
				<tr >
				<td width="35"><a href="#/production/factory/422583"><img src="img/workshop.gif" align="middle" alt="Завод медицинских антисептиков" title="Завод медицинских антисептиков"></a></td>
				<td width="25%"><a href="#/production/factory/422583">Завод медицинских антисептиков</a></td>
				<td width="35"><a href="#/production/factory/16024"><img src="img/workshop.gif" align="middle" alt="Парфюмерная фабрика" title="Парфюмерная фабрика"></a></td>
				<td width="25%"><a href="#/production/factory/16024">Парфюмерная фабрика</a></td>
				<td width="35"><a href="#/production/factory/16012"><img src="img/workshop.gif" align="middle" alt="Фабрика парфюмерных эссенций" title="Фабрика парфюмерных эссенций"></a></td>
				<td width="25%"><a href="#/production/factory/16012">Фабрика парфюмерных эссенций</a></td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				</tr>
				<tr>
				<td colspan="8" class="warning text-center h4">Металлургия</td>
				</tr>
				<tr >
				<td width="35"><a href="#/production/factory/380067"><img src="img/workshop.gif" align="middle" alt="Завод по выплавке титана" title="Завод по выплавке титана"></a></td>
				<td width="25%"><a href="#/production/factory/380067">Завод по выплавке титана</a></td>
				<td width="35"><a href="#/production/factory/7112"><img src="img/workshop.gif" align="middle" alt="Завод по обработке цветных металлов" title="Завод по обработке цветных металлов"></a></td>
				<td width="25%"><a href="#/production/factory/7112">Завод по обработке цветных металлов</a></td>
				<td width="35"><a href="#/production/factory/370094"><img src="img/workshop.gif" align="middle" alt="Завод сверхлегких сплавов" title="Завод сверхлегких сплавов"></a></td>
				<td width="25%"><a href="#/production/factory/370094">Завод сверхлегких сплавов</a></td>
				<td width="35"><a href="#/production/factory/370088"><img src="img/workshop.gif" align="middle" alt="Медеплавильный комбинат" title="Медеплавильный комбинат"></a></td>
				<td width="25%"><a href="#/production/factory/370088">Медеплавильный комбинат</a></td>
				</tr>
				<tr >
				<td width="35"><a href="#/production/factory/2403"><img src="img/workshop.gif" align="middle" alt="Металлургический завод" title="Металлургический завод"></a></td>
				<td width="25%"><a href="#/production/factory/2403">Металлургический завод</a></td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				</tr>
				<tr>
				<td colspan="8" class="warning text-center h4">Недвижимость и предметы роскоши</td>
				</tr>
				<tr >
				<td width="35"><a href="#/production/factory/124"><img src="img/workshop.gif" align="middle" alt="Фабрика элитных интерьеров" title="Фабрика элитных интерьеров"></a></td>
				<td width="25%"><a href="#/production/factory/124">Фабрика элитных интерьеров</a></td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				</tr>
				<tr>
				<td colspan="8" class="warning text-center h4">Нефтяная промышленность</td>
				</tr>
				<tr >
				<td width="35"><a href="#/production/mine/2395"><img src="img/oilpump.gif" align="middle" alt="Нефтедобывающее предприятие" title="Нефтедобывающее предприятие"></a></td>
				<td width="25%"><a href="#/production/mine/2395">Нефтедобывающее предприятие</a></td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				</tr>
				<tr>
				<td colspan="8" class="warning text-center h4">Пищевая промышленность</td>
				</tr>
				<tr >
				<td width="35"><a href="#/production/factory/422056"><img src="img/workshop.gif" align="middle" alt="Завод по переработке оливок" title="Завод по переработке оливок"></a></td>
				<td width="25%"><a href="#/production/factory/422056">Завод по переработке оливок</a></td>
				<td width="35"><a href="#/production/factory/15769"><img src="img/workshop.gif" align="middle" alt="Завод по производству ПБП" title="Завод по производству ПБП"></a></td>
				<td width="25%"><a href="#/production/factory/15769">Завод по производству ПБП</a></td>
				<td width="35"><a href="#/production/factory/3903"><img src="img/workshop.gif" align="middle" alt="Завод по производству прохладительных напитков" title="Завод по производству прохладительных напитков"></a></td>
				<td width="25%"><a href="#/production/factory/3903">Завод по производству прохладительных напитков</a></td>
				<td width="35"><a href="#/production/factory/16018"><img src="img/workshop.gif" align="middle" alt="Завод по производству специй" title="Завод по производству специй"></a></td>
				<td width="25%"><a href="#/production/factory/16018">Завод по производству специй</a></td>
				</tr>
				<tr >
				<td width="35"><a href="#/production/factory/373221"><img src="img/workshop.gif" align="middle" alt="Завод по производству сыра" title="Завод по производству сыра"></a></td>
				<td width="25%"><a href="#/production/factory/373221">Завод по производству сыра</a></td>
				<td width="35"><a href="#/production/factory/1855"><img src="img/workshop.gif" align="middle" alt="Колбасный завод" title="Колбасный завод"></a></td>
				<td width="25%"><a href="#/production/factory/1855">Колбасный завод</a></td>
				<td width="35"><a href="#/production/factory/380009"><img src="img/workshop.gif" align="middle" alt="Кофеобжарочная фабрика" title="Кофеобжарочная фабрика"></a></td>
				<td width="25%"><a href="#/production/factory/380009">Кофеобжарочная фабрика</a></td>
				<td width="35"><a href="#/production/factory/1906"><img src="img/workshop.gif" align="middle" alt="Ликероводочный завод" title="Ликероводочный завод"></a></td>
				<td width="25%"><a href="#/production/factory/1906">Ликероводочный завод</a></td>
				</tr>
				<tr >
				<td width="35"><a href="#/production/factory/401982"><img src="img/workshop.gif" align="middle" alt="Соевая фабрика" title="Соевая фабрика"></a></td>
				<td width="25%"><a href="#/production/factory/401982">Соевая фабрика</a></td>
				<td width="35"><a href="#/production/factory/15757"><img src="img/workshop.gif" align="middle" alt="Маслозавод" title="Маслозавод"></a></td>
				<td width="25%"><a href="#/production/factory/15757">Маслозавод</a></td>
				<td width="35"><a href="#/production/factory/1891"><img src="img/workshop.gif" align="middle" alt="Молокозавод" title="Молокозавод"></a></td>
				<td width="25%"><a href="#/production/factory/1891">Молокозавод</a></td>
				<td width="35"><a href="#/production/factory/2421"><img src="img/workshop.gif" align="middle" alt="Пивоваренный завод" title="Пивоваренный завод"></a></td>
				<td width="25%"><a href="#/production/factory/2421">Пивоваренный завод</a></td>
				</tr>
				<tr >
				<td width="35"><a href="#/production/factory/15763"><img src="img/workshop.gif" align="middle" alt="Плодоовощной завод" title="Плодоовощной завод"></a></td>
				<td width="25%"><a href="#/production/factory/15763">Плодоовощной завод</a></td>
				<td width="35"><a href="#/production/factory/2422"><img src="img/workshop.gif" align="middle" alt="Хлебозавод" title="Хлебозавод"></a></td>
				<td width="25%"><a href="#/production/factory/2422">Хлебозавод</a></td>
				<td width="35"><a href="#/production/factory/2330"><img src="img/workshop.gif" align="middle" alt="Шоколадная фабрика" title="Шоколадная фабрика"></a></td>
				<td width="25%"><a href="#/production/factory/2330">Шоколадная фабрика</a></td>
				<td width="35"><a href="#/production/factory/422565"><img src="img/workshop.gif" align="middle" alt="Вискокурня" title="Вискокурня"></a></td>
				<td width="25%"><a href="#/production/factory/422565">Вискокурня</a></td>
				</tr>
				<tr >
				<td width="35"><a href="#/production/factory/401988"><img src="img/workshop.gif" align="middle" alt="Чайная мануфактура" title="Чайная мануфактура"></a></td>
				<td width="25%"><a href="#/production/factory/401988">Чайная мануфактура</a></td>
				<td width="35"><a href="#/production/factory/422559"><img src="img/workshop.gif" align="middle" alt="Завод готовых завтраков" title="Завод готовых завтраков"></a></td>
				<td width="25%"><a href="#/production/factory/422559">Завод готовых завтраков</a></td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				</tr>
				<tr>
				<td colspan="8" class="warning text-center h4">Промысловое хозяйство</td>
				</tr>
				<tr >
				<td width="35"><a href="#/production/factory/335200"><img src="img/workshop.gif" align="middle" alt="Завод по переработке рыбы" title="Завод по переработке рыбы"></a></td>
				<td width="25%"><a href="#/production/factory/335200">Завод по переработке рыбы</a></td>
				<td width="35"><a href="#/production/farm/335186"><img src="img/fishingbase.gif" align="middle" alt="Рыболовная база" title="Рыболовная база"></a></td>
				<td width="25%"><a href="#/production/farm/335186">Рыболовная база</a></td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				</tr>
				<tr>
				<td colspan="8" class="warning text-center h4">Сельское хозяйство</td>
				</tr>
				<tr >
				<td width="35"><a href="#/production/farm/2119"><img src="img/farm.gif" align="middle" alt="Земледельческая ферма" title="Земледельческая ферма"></a></td>
				<td width="25%"><a href="#/production/farm/2119">Земледельческая ферма</a></td>
				<td width="35"><a href="#/production/afarm/2419"><img src="img/animalfarm.gif" align="middle" alt="Овцеферма" title="Овцеферма"></a></td>
				<td width="25%"><a href="#/production/afarm/2419">Овцеферма</a></td>
				<td width="35"><a href="#/production/afarm/2044"><img src="img/animalfarm.gif" align="middle" alt="Коровник" title="Коровник"></a></td>
				<td width="25%"><a href="#/production/afarm/2044">Коровник</a></td>
				<td width="35"><a href="#/production/factory/2057"><img src="img/mill.gif" align="middle" alt="Мельница" title="Мельница"></a></td>
				<td width="25%"><a href="#/production/factory/2057">Мельница</a></td>
				</tr>
				<tr >
				<td width="35"><a href="#/production/afarm/2418"><img src="img/animalfarm.gif" align="middle" alt="Птицеферма" title="Птицеферма"></a></td>
				<td width="25%"><a href="#/production/afarm/2418">Птицеферма</a></td>
				<td width="35"><a href="#/production/afarm/2417"><img src="img/animalfarm.gif" align="middle" alt="Свиноферма" title="Свиноферма"></a></td>
				<td width="25%"><a href="#/production/afarm/2417">Свиноферма</a></td>
				<td width="35"><a href="#/production/farm/2420"><img src="img/orchard.gif" align="middle" alt="Фруктовая плантация" title="Фруктовая плантация"></a></td>
				<td width="25%"><a href="#/production/farm/2420">Фруктовая плантация</a></td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				</tr>
				<tr >
				</tr><tr>
				<td colspan="8" class="warning text-center h4">Стекольная промышленность</td>
				</tr>
				<tr >
				<td width="35"><a href="#/production/factory/2428"><img src="img/workshop.gif" align="middle" alt="Керамический завод" title="Керамический завод"></a></td>
				<td width="25%"><a href="#/production/factory/2428">Керамический завод</a></td>
				<td width="35"><a href="#/production/factory/2408"><img src="img/workshop.gif" align="middle" alt="Стекольный завод" title="Стекольный завод"></a></td>
				<td width="25%"><a href="#/production/factory/2408">Стекольный завод</a></td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				</tr>
				<tr>
				<td colspan="8" class="warning text-center h4">Судостроение</td>
				</tr>
				<tr >
				<td width="35"><a href="#/production/factory/335220"><img src="img/workshop.gif" align="middle" alt="Судостроительная верфь" title="Судостроительная верфь"></a></td>
				<td width="25%"><a href="#/production/factory/335220">Судостроительная верфь</a></td>
				<td width="35"><a href="#/production/factory/123"><img src="img/workshop.gif" align="middle" alt="Яхтостроительный завод" title="Яхтостроительный завод"></a></td>
				<td width="25%"><a href="#/production/factory/123">Яхтостроительный завод</a></td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				</tr>
				<tr>
				<td colspan="8" class="warning text-center h4">Сфера услуг</td>
				</tr>
				<tr >
				<td width="35"><a href="#/production/factory/373203"><img src="img/workshop.gif" align="middle" alt="Фабрика общественных интерьеров" title="Фабрика общественных интерьеров"></a></td>
				<td width="25%"><a href="#/production/factory/373203">Фабрика общественных интерьеров</a></td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				</tr>
				<tr>
				<td colspan="8" class="warning text-center h4">Товары народного потребления</td>
				</tr>
				<tr >
				<td width="35"><a href="#/production/factory/7120"><img src="img/workshop.gif" align="middle" alt="Завод бытовой техники" title="Завод бытовой техники"></a></td>
				<td width="25%"><a href="#/production/factory/7120">Завод бытовой техники</a></td>
				<td width="35"><a href="#/production/factory/2410"><img src="img/workshop.gif" align="middle" alt="Завод бытовых изделий" title="Завод бытовых изделий"></a></td>
				<td width="25%"><a href="#/production/factory/2410">Завод бытовых изделий</a></td>
				<td width="35"><a href="#/production/factory/2431"><img src="img/workshop.gif" align="middle" alt="Завод по производству велосипедов" title="Завод по производству велосипедов"></a></td>
				<td width="25%"><a href="#/production/factory/2431">Завод по производству велосипедов</a></td>
				<td width="35"><a href="#/production/factory/16042"><img src="img/workshop.gif" align="middle" alt="Завод по производству зонтов" title="Завод по производству зонтов"></a></td>
				<td width="25%"><a href="#/production/factory/16042">Завод по производству зонтов</a></td>
				</tr>
				<tr >
				<td width="35"><a href="#/production/factory/373215"><img src="img/workshop.gif" align="middle" alt="Завод по производству кухонных плит" title="Завод по производству кухонных плит"></a></td>
				<td width="25%"><a href="#/production/factory/373215">Завод по производству кухонных плит</a></td>
				<td width="35"><a href="#/production/factory/373227"><img src="img/workshop.gif" align="middle" alt="Завод по производству посудомоечных машин" title="Завод по производству посудомоечных машин"></a></td>
				<td width="25%"><a href="#/production/factory/373227">Завод по производству посудомоечных машин</a></td>
				<td width="35"><a href="#/production/factory/15340"><img src="img/workshop.gif" align="middle" alt="Завод спортивного инвентаря" title="Завод спортивного инвентаря"></a></td>
				<td width="25%"><a href="#/production/factory/15340">Завод спортивного инвентаря</a></td>
				<td width="35"><a href="#/production/factory/15346"><img src="img/workshop.gif" align="middle" alt="Завод спортивного оборудования" title="Завод спортивного оборудования"></a></td>
				<td width="25%"><a href="#/production/factory/15346">Завод спортивного оборудования</a></td>
				</tr>
				<tr >
				<td width="35"><a href="#/production/factory/2429"><img src="img/workshop.gif" align="middle" alt="Завод фототехники" title="Завод фототехники"></a></td>
				<td width="25%"><a href="#/production/factory/2429">Завод фототехники</a></td>
				<td width="35"><a href="#/production/factory/370112"><img src="img/workshop.gif" align="middle" alt="Завод электроинструментов" title="Завод электроинструментов"></a></td>
				<td width="25%"><a href="#/production/factory/370112">Завод электроинструментов</a></td>
				<td width="35"><a href="#/production/factory/422207"><img src="img/workshop.gif" align="middle" alt="Мануфактура по производству сигар" title="Мануфактура по производству сигар"></a></td>
				<td width="25%"><a href="#/production/factory/422207">Мануфактура по производству сигар</a></td>
				<td width="35"><a href="#/production/factory/13709"><img src="img/workshop.gif" align="middle" alt="Сувенирная мануфактура" title="Сувенирная мануфактура"></a></td>
				<td width="25%"><a href="#/production/factory/13709">Сувенирная мануфактура</a></td>
				</tr>
				<tr >
				<td width="35"><a href="#/production/factory/422206"><img src="img/workshop.gif" align="middle" alt="Табачная фабрика" title="Табачная фабрика"></a></td>
				<td width="25%"><a href="#/production/factory/422206">Табачная фабрика</a></td>
				<td width="35"><a href="#/production/factory/2411"><img src="img/workshop.gif" align="middle" alt="Типография" title="Типография"></a></td>
				<td width="25%"><a href="#/production/factory/2411">Типография</a></td>
				<td width="35"><a href="#/production/factory/422208"><img src="img/workshop.gif" align="middle" alt="Фабрика корма для животных" title="Фабрика корма для животных"></a></td>
				<td width="25%"><a href="#/production/factory/422208">Фабрика корма для животных</a></td>
				<td width="35"><a href="#/production/factory/373209"><img src="img/workshop.gif" align="middle" alt="Фабрика кухонной мебели" title="Фабрика кухонной мебели"></a></td>
				<td width="25%"><a href="#/production/factory/373209">Фабрика кухонной мебели</a></td>
				</tr>				
				<tr >
				<td width="35"><a href="#/production/factory/422443"><img src="img/workshop.gif" align="middle" alt="Завод садового инвентаря" title="Завод садового инвентаря"></a></td>
				<td width="25%"><a href="#/production/factory/422443">Завод садового инвентаря</a></td>
				<td width="35"></td>
				<td width="25%"></td>
				<td width="35"></td>
				<td width="25%"></td>
				<td width="35"></td>
				<td width="25%"></td>
				</tr>
				<tr >
				</tr>
				<tr>
				<td colspan="8" class="warning text-center h4">Химическая промышленность</td>
				</tr>
				<tr >
				<td width="35"><a href="#/production/factory/2404"><img src="img/workshop.gif" align="middle" alt="Завод бытовой химии" title="Завод бытовой химии"></a></td>
				<td width="25%"><a href="#/production/factory/2404">Завод бытовой химии</a></td>
				<td width="35"><a href="#/production/factory/370124"><img src="img/workshop.gif" align="middle" alt="Нефтемаслозавод" title="Нефтемаслозавод"></a></td>
				<td width="25%"><a href="#/production/factory/370124">Нефтемаслозавод</a></td>
				<td width="35"><a href="#/production/factory/2405"><img src="img/workshop.gif" align="middle" alt="Химический завод" title="Химический завод"></a></td>
				<td width="25%"><a href="#/production/factory/2405">Химический завод</a></td>
				<td width="35"><a href="#/production/factory/2406"><img src="img/workshop.gif" align="middle" alt="Шинный завод" title="Шинный завод"></a></td>
				<td width="25%"><a href="#/production/factory/2406">Шинный завод</a></td>
				</tr>
				<tr >
				<td width="35"><a href="#/production/factory/422577"><img src="img/workshop.gif" align="middle" alt="Завод автомобильной химии" title="Завод автомобильной химии"></a></td>
				<td width="25%"><a href="#/production/factory/422577">Завод автомобильной химии</a></td>
				<td width="35"><a href="#/production/factory/422571"><img src="img/workshop.gif" align="middle" alt="Завод органического синтеза" title="Завод органического синтеза"></a></td>
				<td width="25%"><a href="#/production/factory/422571">Завод органического синтеза</a></td>
				<td width="35"><a href="#/production/factory/422724"><img src="img/workshop.gif" align="middle" alt="Нефтеперерабатывающий завод" title="Нефтеперерабатывающий завод"></a></td>
				<td width="25%"><a href="#/production/factory/422724">Нефтеперерабатывающий завод</a></td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				</tr><tr>
				<td colspan="8" class="warning text-center h4">Электронная и электротехническая промышленность</td>
				</tr>
				<tr >
				<td width="35"><a href="#/production/factory/2432"><img src="img/workshop.gif" align="middle" alt="Завод аудиоаппаратуры" title="Завод аудиоаппаратуры"></a></td>
				<td width="25%"><a href="#/production/factory/2432">Завод аудиоаппаратуры</a></td>
				<td width="35"><a href="#/production/factory/3891"><img src="img/workshop.gif" align="middle" alt="Завод видеоаппаратуры" title="Завод видеоаппаратуры"></a></td>
				<td width="25%"><a href="#/production/factory/3891">Завод видеоаппаратуры</a></td>
				<td width="35"><a href="#/production/factory/370106"><img src="img/workshop.gif" align="middle" alt="Завод климатической техники" title="Завод климатической техники"></a></td>
				<td width="25%"><a href="#/production/factory/370106">Завод климатической техники</a></td>
				<td width="35"><a href="#/production/factory/2423"><img src="img/workshop.gif" align="middle" alt="Завод микропроцессоров" title="Завод микропроцессоров"></a></td>
				<td width="25%"><a href="#/production/factory/2423">Завод микропроцессоров</a></td>
				</tr>
				<tr >
				<td width="35"><a href="#/production/factory/3840"><img src="img/workshop.gif" align="middle" alt="Завод по производству GPS-навигаторов" title="Завод по производству GPS-навигаторов"></a></td>
				<td width="25%"><a href="#/production/factory/3840">Завод по производству GPS-навигаторов</a></td>
				<td width="35"><a href="#/production/factory/2433"><img src="img/workshop.gif" align="middle" alt="Завод по производству компьютеров" title="Завод по производству компьютеров"></a></td>
				<td width="25%"><a href="#/production/factory/2433">Завод по производству компьютеров</a></td>
				<td width="35"><a href="#/production/factory/380015"><img src="img/workshop.gif" align="middle" alt="Завод по производству кофе-машин" title="Завод по производству кофе-машин"></a></td>
				<td width="25%"><a href="#/production/factory/380015">Завод по производству кофе-машин</a></td>
				<td width="35"><a href="#/production/factory/422210"><img src="img/workshop.gif" align="middle" alt="Завод по производству смартфонов" title="Завод по производству смартфонов"></a></td>
				<td width="25%"><a href="#/production/factory/422210">Завод по производству смартфонов</a></td>
				</tr>
				<tr >
				<td width="35"><a href="#/production/factory/3878"><img src="img/workshop.gif" align="middle" alt="Завод по производству стиральных машин" title="Завод по производству стиральных машин"></a></td>
				<td width="25%"><a href="#/production/factory/3878">Завод по производству стиральных машин</a></td>
				<td width="35"><a href="#/production/factory/2424"><img src="img/workshop.gif" align="middle" alt="Завод по производству холодильников" title="Завод по производству холодильников"></a></td>
				<td width="25%"><a href="#/production/factory/2424">Завод по производству холодильников</a></td>
				<td width="35"><a href="#/production/factory/2434"><img src="img/workshop.gif" align="middle" alt="Приборостроительный завод" title="Приборостроительный завод"></a></td>
				<td width="25%"><a href="#/production/factory/2434">Приборостроительный завод</a></td>
				<td width="35"><a href="#/production/factory/2435"><img src="img/workshop.gif" align="middle" alt="Фабрика по производству мобильных телефонов" title="Фабрика по производству мобильных телефонов"></a></td>
				<td width="25%"><a href="#/production/factory/2435">Фабрика по производству мобильных телефонов</a></td>
				</tr>
				<tr >
				<td width="35"><a href="#/production/factory/422209"><img src="img/workshop.gif" align="middle" alt="Фабрика производства светодиодов" title="Фабрика производства светодиодов"></a></td>
				<td width="25%"><a href="#/production/factory/422209">Фабрика производства светодиодов</a></td>
				<td width="35"><a href="#/production/factory/422449"><img src="img/workshop.gif" align="middle" alt="Завод по производству телевизоров" title="Завод по производству телевизоров"></a></td>
				<td width="25%"><a href="#/production/factory/422449">Завод по производству телевизоров</a></td>
				<td width="35"><a href="#/production/factory/422467"><img src="img/workshop.gif" align="middle" alt="Завод светотехники" title="Завод светотехники"></a></td>
				<td width="25%"><a href="#/production/factory/422467">Завод светотехники</a></td>
				<td width="35"><a href="#/production/factory/422461"><img src="img/workshop.gif" align="middle" alt="Электроламповый завод" title="Электроламповый завод"></a></td>
				<td width="25%"><a href="#/production/factory/422461">Электроламповый завод</a></td>
				</tr>
				<tr>
				<td colspan="8" class="warning text-center h4">Электроэнергетика</td>
				</tr>
				<tr >
				<td width="35"><a href="#/production/factory/422160"><img src="img/workshop.gif" align="middle" alt="Завод по монтажу энергоблоков" title="Завод по монтажу энергоблоков"></a></td>
				<td width="25%"><a href="#/production/factory/422160">Завод по монтажу энергоблоков</a></td>
				<td width="35"><a href="#/production/factory/422148"><img src="img/workshop.gif" align="middle" alt="Завод теплообменного оборудования" title="Завод теплообменного оборудования"></a></td>
				<td width="25%"><a href="#/production/factory/422148">Завод теплообменного оборудования</a></td>
				<td width="35"><a href="#/production/factory/422154"><img src="img/workshop.gif" align="middle" alt="Завод угольного оборудования" title="Завод угольного оборудования"></a></td>
				<td width="25%"><a href="#/production/factory/422154">Завод угольного оборудования</a></td>
				<td width="35"><a href="#/production/factory/422142"><img src="img/workshop.gif" align="middle" alt="Энергомашиностроительный завод" title="Энергомашиностроительный завод"></a></td>
				<td width="25%"><a href="#/production/factory/422142">Энергомашиностроительный завод</a></td>
				</tr>
				<tr >
				<td width="35"><a href="#/production/factory/422742"><img src="img/workshop.gif" align="middle" alt="Завод экологического оборудования" title="Завод экологического оборудования"></a></td>
				<td width="25%"><a href="#/production/factory/422742">Завод экологического оборудования</a></td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>				
				<td>&nbsp;</td>
				<td>&nbsp;</td>				
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				</tr>
				<tr>
				<td colspan="8" class="warning text-center h4">Ювелирная промышленность</td>
				</tr>
				<tr >
				<td width="35"><a href="#/production/factory/2439"><img src="img/workshop.gif" align="middle" alt="Гранильная фабрика" title="Гранильная фабрика"></a></td>
				<td width="25%"><a href="#/production/factory/2439">Гранильная фабрика</a></td>
				<td width="35"><a href="#/production/factory/355093"><img src="img/workshop.gif" align="middle" alt="Студия декора" title="Студия декора"></a></td>
				<td width="25%"><a href="#/production/factory/355093">Студия декора</a></td>
				<td width="35"><a href="#/production/factory/380021"><img src="img/workshop.gif" align="middle" alt="Студия обработки жемчуга" title="Студия обработки жемчуга"></a></td>
				<td width="25%"><a href="#/production/factory/380021">Студия обработки жемчуга</a></td>
				<td width="35"><a href="#/production/factory/2425"><img src="img/workshop.gif" align="middle" alt="Часовой завод" title="Часовой завод"></a></td>
				<td width="25%"><a href="#/production/factory/2425">Часовой завод</a></td>
				</tr>
				<tr >
				<td width="35"><a href="#/production/factory/2426"><img src="img/workshop.gif" align="middle" alt="Ювелирный завод" title="Ювелирный завод"></a></td>
				<td width="25%"><a href="#/production/factory/2426">Ювелирный завод</a></td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				</tr>
				</tbody></table>
		</div>