<div class="jumbotron">
	<h1>Нам 2 года :)</h1>
	<img class="pull-left" src="img/github-icon.png" alt="GitHub"/>
	<p class="lead">Добро пожаловать в Открытый Калькулятор Виртономики. Если ты хочешь помочь в развитии Калькулятора - <a href="https://github.com/VDenisyuk/ovh-angular" target="_blank">присоединяйся на GitHub</a>, <a href="http://virtonomica.ru/lien/forum/user/privat/persondata/message/compose/306066" target="_blank">пиши в игре</a> или в <a href="http://virtonomica.ru/olga/forum/forum_new/15/topic/122999/view" target="_blank">теме на форуме</a>.</p>
	<p class="text-center">
	<a class="btn btn-lg btn-warning" href="#/factory" role="button">Заводы</a>
	<a class="btn btn-lg btn-warning" href="#/products" role="button">Товары</a>
	</p>
</div>