<div class="row" ng-repeat="cat in categories">
    <div class="col-md-12 bg-warning text-center category-header">
        <strong>{{cat.name}}</strong>
    </div>
    <div class="col-md-12">
        <div ng-repeat="unit in cat.units" class="col-sm-3 unit-div">
            <div class="col-md-2">
                <a href="#/{{link}}/{{unit.id}}">
                    <span class="{{unit.img}} sprite"></span>
                </a>
            </div>
            <div class="col-md-10">
                <a href="#/{{link}}/{{unit.id}}">
                    {{unit.name}}
                </a>
            </div>
        </div>
    </div>
</div>